<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <p class="title">用户列表</p>
    <div layout="row">
      <md-button class="md-primary md-raised md-hue-2" ng-click="goDetail()">所有用户
      </md-button>
    </div>
  </div>

  <div class="list-header">
    <div class="list-item" layout="row" layout-align="start center">
      <div class="column-item" flex="">注册时间</div>
      <div class="column-item" flex="">用户名</div>
      <div class="column-item" flex="">用户姓名</div>
      <div class="column-item" flex="">用户手机</div>
      <div class="column-item" flex=""></div>
    </div>
  </div>
  <div class="list-body">
    <div class="list-item" layout="row" layout-align="start center" ng-repeat=" item in user_list">
      <div class="column-item" flex="">{{item.create_time| date:"yyyy-MM-dd hh:mm"}}</div>
      <div class="column-item" flex="">{{item.str1}}</div>
      <div class="column-item" flex="">{{item.str2}}</div>
      <div class="column-item" flex="">{{item.str3}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        <md-button class="md-primary" ng-click="goDetail(item)">详情
        </md-button>
      </div>
    </div>
  </div>
</div>