<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <p class="title">文章列表</p>
    <md-button class="md-primary md-raised md-hue-2" ng-click="goDetail()">创建文章</md-button>
  </div>

  <div class="list-header">
    <div class="list-item" layout="row" layout-align="start center">
      <div class="column-item" flex="">序号</div>
      <div class="column-item" flex="">预览图</div>
      <div class="column-item" flex="">标题</div>
      <div class="column-item" flex="">浏览量</div>
      <div class="column-item" flex="">描述</div>
      <div class="column-item" flex="">标签</div>
      <div class="column-item" flex=""></div>
    </div>
  </div>
  <div class="list-body">
    <div class="list-item" layout="row" layout-align="start center" ng-repeat=" article in article_list">
      <div class="column-item" flex="">{{$index+1}}</div>
      <div class="column-item" flex="">
        <img ng-src="{{article.image}}"></img>
      </div>
      <div class="column-item" flex="">{{article.title}}</div>
      <div class="column-item" flex="">{{article.read_count||0}}</div>
      <div class="column-item" flex="">{{article.description}}</div>
      <div class="column-item" flex="">{{article.tag_string}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        <md-button class="md-primary" ng-click="goDetail(article._id)">详情
        </md-button>
      </div>
    </div>
  </div>
</div>