<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <p class="title">产品详情</p>
    <md-button class="md-primary md-raised md-hue-2">保存</md-button>
  </div>


  <div class="c-product-detail-view">
    <md-content layout-padding>
      <div layout-gt-sm="row">
        <md-input-container id="qiniu-upload-test-container" class="md-block" flex-gt-sm>
          <label>City</label>
          <input type="file" />
          <md-button id="qiniu-upload-test-button">上传</md-button>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>City</label>
          <input/>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>City</label>
          <input/>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>City</label>
          <input/>
        </md-input-container>
      </div>
    </md-content>


  </div>
</div>