<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <p class="title">VIP用户报告</p>
    <div layout="row">
      <md-button class="md-primary md-raised md-hue-2" ng-click="updateVipReportInfo()">保存</md-button>
    </div>
  </div>
  <md-content layout-padding>
    <div>基本信息</div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>姓名</label>
        <input ng-model="user.vip_report.str1" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>年龄</label>
        <input ng-model="user.vip_report.str2" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>手机号码</label>
        <input ng-model="user.vip_report.str3" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>身份证号码</label>
        <input ng-model="user.vip_report.str4" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>归属地</label>
        <input ng-model="user.vip_report.str5" />
      </md-input-container>
    </div>
  </md-content>
  <md-content layout-padding>
    <div>指导结果</div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>指导结果</label>
        <input ng-model="user.vip_report.str30" />
      </md-input-container>
    </div>
  </md-content>
  <md-content layout-padding>
    <div>粗略评估结果</div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>风险评估指数</label>
        <input ng-model="user.vip_report.str6" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>多头借贷风险</label>
        <input ng-model="user.vip_report.str7" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>社交风险</label>
        <input ng-model="user.vip_report.str8" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>交叉印证</label>
        <input ng-model="user.vip_report.str9" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>黑名单命中</label>
        <input ng-model="user.vip_report.str10" />
      </md-input-container>
    </div>
  </md-content>

  <md-content layout-padding>
    <div>通讯交叉信息</div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>直接在黑名单联系人数量</label>
        <input ng-model="user.vip_report.str11" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>间接在黑名单联系人数量</label>
        <input ng-model="user.vip_report.str12" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>一阶联系人总数</label>
        <input ng-model="user.vip_report.str13" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>交叉二阶黑名单人数</label>
        <input ng-model="user.vip_report.str14" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>新号/小号行为</label>
        <input ng-model="user.vip_report.str15" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>灰度/黑度行为</label>
        <input ng-model="user.vip_report.str16" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>中介/推广行为</label>
        <input ng-model="user.vip_report.str17" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>二阶关系联查</label>
        <input ng-model="user.vip_report.str18" />
      </md-input-container>
    </div>
  </md-content>

  <md-content layout-padding>
    <div>大数据记录 - 主动属性</div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>负债杠杆</label>
        <input ng-model="user.vip_report.str19" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>债务质量</label>
        <input ng-model="user.vip_report.str20" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>信用基础</label>
        <input ng-model="user.vip_report.str21" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>网信资质</label>
        <input ng-model="user.vip_report.str22" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>人行资质</label>
        <input ng-model="user.vip_report.str23" />
      </md-input-container>
    </div>
  </md-content>

  <md-content layout-padding>
    <div>大数据记录 - 被动属性</div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>被查询状况</label>
        <input ng-model="user.vip_report.str24" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>多方机构数量</label>
        <input ng-model="user.vip_report.str25" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>类金融平台</label>
        <input ng-model="user.vip_report.str26" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>网贷类平台</label>
        <input ng-model="user.vip_report.str27" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>小贷类机构</label>
        <input ng-model="user.vip_report.str28" />
      </md-input-container>
    </div>
  </md-content>

  <md-content layout-padding>
    <div>官方报告</div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>官方报告（|分隔段落）</label>
        <input ng-model="user.vip_report.str29" />
      </md-input-container>
    </div>
  </md-content>
</div>