<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>潮钱网</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../c_h5/css/page_index.css" />
  <link rel="stylesheet" href="../c_h5/css/page_list_qq.css" />
  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <style>
    .tip{
      background-color: white;
    }
    .tip-text{
      font-size: 12px;
      font-weight: 400;
      padding:5px 10px;
    }
  </style>
</head>

<body>
  <div class="tip"><span class="tip-text">请您先了解出借人的条件再点击咨询。</span></div>
  <div class="tip"><span class="tip-text">咨询前请务必确保您手机安装并登陆了QQ，您才能触发聊天窗口。</span></div>
</body>
<script>
  $(function () {
    function list_agent() {
      $.ajax({
        url: '/agent/list_agent',
        method: 'post',
        data: {
          type: 'qq_agent'
        },
        success: function (data) {
          console.log(data);
          if (!data.err) {
            data.forEach(function (item) {
              append_item(item);
            })
          }
        }
      });
    }
    function update_history(item) {
      $.ajax({
        url: '/agent/update_history',
        method: 'post',
        data: {
          detail_id: item._id
        },
        success: function (data) {
          console.log(data);
          if (!data.err) {
            window.location.href = 'mqqwpa://im/chat?chat_type=wpa&uin=' + item.str2 + '&version=1&src_type=web&web_src=oicqzone.com';
          }
        }
      });
    }

    function append_item(item) {
      var obj = $(
        '<div class="weui-panel weui-panel_access">'+
        '<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">' +
        '  <div class="weui-media-box__hd">' +
        '    <img class="weui-media-box__thumb" src="/c_h5/images/qq头像.png">' +
        '  </div>' +
        '  <div class="weui-media-box__bd">' +
        '    <div class="weui-media-box__title">' + item.str1 +
        '      <span class="title-desc">' + item.str3 + '</span>' +
        '    </div>' +
        '    <div class="title-desc">服务时间：9:00-20:00</div>' +
        '    <span class="bd-tip">' + item.str4 + '</span>' +
        '  </div>' +
        '  <div class="list-btn-area">' +
        '    <div class="list-btn">贷前咨询</div>' +
        '  </div>' +
        '</a></div>'
      );

      obj.find('.list-btn').click(function () {
        update_history(item);
      });

      $('body').append(obj);
    }

    list_agent();
  })
</script>

</html>