<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>潮钱网</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../c_h5/css/page_index.css" />
  <link rel="stylesheet" href="../c_h5/css/page_signin.css" />
  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
  <img class="h-auth-back" src="/c_h5/images/share_signup.jpeg">
  <div class="h-auth-panel">
    <!-- <h3>注册</h3> -->
    <div class="auth-row">
      <input class="auth-input username" onkeyup="value=value.replace(/[^1234567890-]+/g,'')" placeholder="请输入手机号"></input>
    </div>
    <div class="auth-row has-verify">
      <input class="auth-input input_code" onkeyup="value=value.replace(/[^1234567890-]+/g,'')" placeholder="请输入验证码"></input>
      <div class="auth-verify send_code">获取验证码</div>
    </div>
    <div class="auth-row">
      <input class="auth-input password" type="password" placeholder="请输入密码"></input>
    </div>
    <!-- <div class="auth-row">
      <input class="auth-input" placeholder="请输入您的姓名"></input>
    </div>
    <div class="auth-row">
      <input class="auth-input" placeholder="请输入您的身份证号码"></input>
    </div>
    <div class="auth-row">
      <input class="auth-input" placeholder="请输入您的芝麻分"></input>
    </div> -->
    <div class="auth-row-btn signup">
      立即注册
    </div>
    <!-- <div class="auth-row-btn">
      已有账户去登陆
    </div> -->
  </div>

  <div class="auth-row">
    <input class="auth-input parent" placeholder="请输入您的QQ号" value="<%= parent %>"></input>
  </div>

</body>
<script>
  $(function () {
    var code = '';
    var send_code = $('.send_code');
    var parent = $('.parent').val();
    var can_send_code = true;
    $('.send_code').click(function () {
      sendSmsVerifyCode();
    });

    function sendSmsVerifyCode() {
      if (!can_send_code) {
        return;
      }

      can_send_code = false;


      var username = $('.username').val();
      $.ajax({
        url: '/token/sms/sendSmsVerifyCode',
        method: 'post',
        data: { username: username },
        success: function (data) {
          if (!data.err) {
            startCount(60);
            code = data.code.toString();
          }

          console.log(data);
        }
      })
    }

    function startCount(time) {
      if (time <= 0) {
        can_send_code = true;
        return send_code.text('重新获取');
      }

      send_code.text(time + '秒');

      setTimeout(function () {
        time -= 1;
        startCount(time);
      }, 1000)
    }

    function signup() {
      var username = $('.username').val();
      var input_code = $('.input_code').val();
      var password = $('.password').val();
      if (!username || username.length !== 11) {
        return alert('请输入正确的手机号！');
      }

      if (!input_code || input_code !== code) {
        return alert('请输入正确的验证码！');
      }
      if (!password) {
        return alert('请输入密码！');
      }

      $.ajax({
        url: '/user/signup',
        method: 'post',
        data: {
          user_info: {
            username: username,
            password: password,
            code: parent || ''
          }
        },
        success: function (data) {
          if (data && !data.err) {
            alert('注册成功！');
          }
          else {
            alert(data.err.zh_message);
          }

          window.location =  'page_wechat/page_download';
        }
      });
    }

    $('.signup').click(function () {
      signup();
    })
  })
</script>

</html>