<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>潮钱网</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../c_h5/css/page_index.css" />
  <link rel="stylesheet" href="../c_h5/css/page_signin.css" />
  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
  <div class="h-auth-panel">
    <h3>注册</h3>
    <div class="auth-row">
      <input class="auth-input" onkeyup="value=value.replace(/[^1234567890-]+/g,'')" placeholder="请输入手机号"></input>
    </div>
    <div class="auth-row has-verify">
      <input class="auth-input" onkeyup="value=value.replace(/[^1234567890-]+/g,'')" placeholder="请输入验证码"></input>
      <div class="auth-verify">获取验证码</div>
    </div>
    <div class="auth-row">
      <input class="auth-input" placeholder="请输入您的姓名"></input>
    </div>
    <div class="auth-row">
      <input class="auth-input" placeholder="请输入您的QQ号"></input>
    </div>
    <div class="auth-row">
      <input class="auth-input" placeholder="请输入您的身份证号码"></input>
    </div>
    <div class="auth-row">
      <input class="auth-input" placeholder="请输入您的芝麻分"></input>
    </div>
    <div class="auth-row-btn">
      注册
    </div>
    <div class="auth-row-btn">
      已有账户去登陆
    </div>
  </div>
</body>
<script>
</script>

</html>