<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>【全国贷款】全国贷款公司_全国银行贷款_全国个人贷款-潮钱网</title>
  <meta name="keywords" content="全国贷款,全国贷款公司,全国个人贷款,全国银行贷款">
  <meta name="description" content="潮钱网提供专业的全国贷款，全国个人贷款,全国银行贷款等贷款服务。找全国贷款，全国贷款公司，全国个人贷款、全国银行贷款信息就到潮钱网。">
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_platform/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_platform/css/article_detail.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="https://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <% include ../../c_platform/views/header.client.view.html %>
    <div class="n-center">
      <div class="n-left">
        <h3>
          <%= article.title||'' %>

        </h3>
        <h5 class="n-description">
          <%= article.description||'' %>
        </h5>
        <%- article.content||'' %>
      </div>
      <div class="n-right">
        <div class="right-item">
          <h4>
            热门攻略
          </h4>
          <% article_single_list.forEach(function(item){ %>
            <a href="/page/article_detail/<%= item._id %>" class="a-item">
              <img src="<%= item.image %>">
              <p>
                <%= item.title %>
              </p>
            </a>
            <% }) %>

        </div>
        <div class="right-item">
          <h4>
            热门文章
          </h4>
          <% article_single_list.forEach(function(item){ %>
            <div class="a-item">
              <a href="/page/article_detail/<%= item._id %>" style="display: block">
                <%= item.title %>
              </a>
            </div>

            <% }) %>
        </div>
      </div>
    </div>
</body>
<script>
  $(function () {

  })
</script>

</html>