<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="libs/bootstrap/dist/bootstrap.min.css" />
  <link rel="stylesheet" href="c_platform/css/index.client.style.css" />
  <link rel="stylesheet" href="c_platform/css/city_select.client.style.css" />
  <script src="libs/jquery/dist/jquery.js"></script>
  <!-- <script src="c_platform/controllers/product_list.client.controller.js"></script> -->
</head>

<body>
  <% include ../../c_platform/views/header.client.view.html %>
   
  <% include ../../c_platform/views/footer.client.view.html %>
</body>

</html>