<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>【全国贷款】全国贷款公司_全国银行贷款_全国个人贷款-潮钱网</title>
  <meta name="keywords" content="全国贷款,全国贷款公司,全国个人贷款,全国银行贷款">
  <meta name="description" content="潮钱网提供专业的全国贷款，全国个人贷款,全国银行贷款等贷款服务。找全国贷款，全国贷款公司，全国个人贷款、全国银行贷款信息就到潮钱网。">
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_platform/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_platform/css/home.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="https://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <% include ../../c_platform/views/header.client.view.html %>

    <div class="c-credit-content-area">
      <div class="c-center-area">
        <div class="c-area-title">贷款专区
          <span class="c-area-sub-title">无抵押、无担保、极速放款、借款方式更灵活</span>
        </div>


        <% for(var i =0;i<products.length;i++){ %>
          <div class="c-credit-content-item-container">
            <div class="c-credit-content-item blue">
              <h4 class="content-title">
                <%= products[i].name %>
              </h4>
              <div class="content-logo">
                <span class="shart_url_short" style="display: none">
                  <%= products[i].shart_url_short %>
                </span>
                <div class="qrcode">

                </div>
                <img src="<%= products[i].logo %>">
              </div>
              <div class="qrcode-tip">扫二维码安装</div>
              <div class="content-descrption">
                <span class="price">
                  <%= (products[i].str4||'-') %>
                </span> 利率
                <%= (products[i].fee_cost_per_day||'-') %>%</div>
              <% for(var j =0;j<4;j++){ %>
                <% if( products[i].str3s[j]){ %>
                  <span class="content-remark">
                    <%= products[i].str3s[j] %>
                  </span>
                  <% } %>
                    <% } %>
                      <div class="content-footer">
                        <a class="content-btn" href="/page/product_detail/<%= (products[i]._id) %>">查看攻略</a>
                        <!-- <button class="content-btn red">查看攻略</button> -->
                      </div>
            </div>
          </div>
          <% } %>
      </div>
    </div>
    <div id="qrcode"></div>
</body>
<script>
  $(function () {

    $(function () {

      $('.c-credit-content-item').hover(function () {
        if ($(this).find('.qrcode').attr('has_qrcode') === 'true') {
          return;
        }

        $(this).find('.qrcode').qrcode({
          render: "table",
          text: $(this).find('.shart_url_short').text(),
          width: 120,
          height: 120,
          foreground: "#C00",
          background: "#FFF",
        });

        $(this).find('.qrcode').attr('has_qrcode', 'true');
      })
    });
  })
</script>

</html>