<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>【全国贷款】全国贷款公司_全国银行贷款_全国个人贷款-潮钱网</title>
  <meta name="keywords" content="贷款,全国贷款,全国贷款公司,全国个人贷款,全国银行贷款">
  <meta name="description" content="潮钱网提供专业的全国贷款，全国个人贷款,全国银行贷款等贷款服务。找全国贷款，全国贷款公司，全国个人贷款、全国银行贷款信息就到潮钱网。">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v1/mip.css">

  <!-- canonical 中的链接优先填写对应内容的移动端页面（H5）地址 -->
  <link rel="canonical" href="https://www.example.com/your/path.html">

  <!-- <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_platform/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_platform/css/home.client.style.css" /> -->
  <link rel="canonical" href="http://www.chaoqianwang.com/page/home_mip">
</head>

<body>
  <% include ../../c_platform/views/header.client.view.html %>

    <div class="c-credit-content-area">
      <div class="c-center-area">
        <div class="c-area-title">
          <span title="潮钱网-贷款-贷款专区">贷款专区
            <span class="c-area-sub-title">无抵押、无担保、极速放款、借款方式更灵活</span>
          </span>
          <span class="c-area-sub-title">更多...</span>
        </div>


        <% for(var i =0;i<products.length;i++){ %>
          <div class="c-credit-content-item-container">
            <div class="c-credit-content-item blue">
              <h4 class="content-title" title="贷款-贷款产品-<%= products[i].name %>-潮钱网">
                <%= products[i].name %>
              </h4>
              <div class="content-logo">
                <span class="shart_url_short" style="display: none">
                  <%= products[i].shart_url_short %>
                </span>
                <div class="qrcode">

                </div>
                <mip-img src="<%= products[i].logo %>">
              </div>
              <div class="qrcode-tip">扫二维码安装</div>
              <div class="content-descrption">
                <span class="price">
                  <%= (products[i].str4||'-') %>
                </span> 利率
                <%= (products[i].fee_cost_per_day||'-') %>%</div>
              <% for(var j =0;j<4;j++){ %>
                <% if( products[i].str3s[j]){ %>
                  <span class="content-remark">
                    <%= products[i].str3s[j] %>
                  </span>
                  <% } %>
                    <% } %>
                      <div class="content-footer">
                        <a class="content-btn" href="/page/product_detail/<%= (products[i]._id) %>" title="贷款-贷款产品-<%= products[i].name %>-潮钱网">查看攻略</a>
                        <!-- <button class="content-btn red">查看攻略</button> -->
                      </div>
            </div>
          </div>
          <% } %>
      </div>
    </div>
    <div class="c-credit-content-area">
      <div class="c-center-area">
        <div class="c-area-title">
          <span title="潮钱网-贷款攻略-攻略专区">攻略专区
            <span class="c-area-sub-title">无抵押、无担保、极速放款、借款方式更灵活</span>
          </span>
          <span class="c-area-sub-title">更多...</span>
        </div>

        <% for(var i = 0;i<articles.length;i++){ %>
          <a href="/page/article_detail/<%= articles[i]._id %>" class="c-gonglue-item" o-title="贷款-贷款文章-贷款攻略-<%= articles[i].title %>-潮钱网">
            <div class="gonglue-item-left">
              <mip-img src="<%= articles[i].image %>">
            </div>
            <div class="gonglue-item-right">
              <h4 class="right-item-title" title="贷款-贷款文章-贷款攻略-<%= articles[i].title %>-潮钱网">
                <%= articles[i].title %>
              </h4>
              <div class="right-item-content">
                <%= articles[i].description %>
              </div>
              <div class="right-item-footer">
                <%= articles[i].tag_string %>
                  <span>发布日期：
                    <%= moment( articles[i].create_time).format('YYYY-MM-DD HH:mm') %>
                  </span>
              </div>
            </div>
          </a>
          <% } %>
      </div>
    </div>
    <script src="https://c.mipcdn.com/static/v1/mip.js"></script>
</body>
<script>

</script>

</html>