<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>【全国贷款】全国贷款公司_全国银行贷款_全国个人贷款-潮钱网</title>
  <meta name="keywords" content="全国贷款,全国贷款公司,全国个人贷款,全国银行贷款">
  <meta name="description" content="潮钱网提供专业的全国贷款，全国个人贷款,全国银行贷款等贷款服务。找全国贷款，全国贷款公司，全国个人贷款、全国银行贷款信息就到潮钱网。">
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_platform/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_platform/css/home.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <% include ../../c_platform/views/header.client.view.html %>
    <div class="c-credit-content-area">
      <div class="c-area-title">贷款专区</div>
      <div class="c-area-sub-title">无抵押、无担保、极速放款、借款方式更灵活</div>
      <div class="c-center-area">
        <div class="c-credit-content-item-container">
          <div class="c-credit-content-item origin">
            <div class="content-title">恒昌-工薪贷</div>
            <div class="content-number">2.38%</div>
            <div class="content-descrption">参考月利率</div>
            <div class="content-remark">无抵押|放贷快|0担保</div>
            <div class="content-footer">
              <button class="content-btn">查看详情</button>
            </div>
          </div>
        </div>
        <div class="c-credit-content-item-container">
            <div class="c-credit-content-item origin">
              <div class="content-title">恒昌-工薪贷</div>
              <div class="content-number">2.38%</div>
              <div class="content-descrption">参考月利率</div>
              <div class="content-remark">无抵押|放贷快|0担保</div>
              <div class="content-footer">
                <button class="content-btn">查看详情</button>
              </div>
            </div>
          </div>
          <div class="c-credit-content-item-container">
              <div class="c-credit-content-item origin">
                <div class="content-title">恒昌-工薪贷</div>
                <div class="content-number">2.38%</div>
                <div class="content-descrption">参考月利率</div>
                <div class="content-remark">无抵押|放贷快|0担保</div>
                <div class="content-footer">
                  <button class="content-btn">查看详情</button>
                </div>
              </div>
            </div>
        <div class="c-credit-content-item-container">
          <div class="c-credit-content-item origin">
            <div class="content-title">恒昌-工薪贷</div>
            <div class="content-number">2.38%</div>
            <div class="content-descrption">参考月利率</div>
            <div class="content-remark">无抵押|放贷快|0担保</div>
            <div class="content-footer">
              <button class="content-btn">查看详情</button>
            </div>
          </div>
        </div>
        <div class="c-credit-content-item-container center">
          <div class="c-credit-content-item red">
            <div class="content-title">恒昌-工薪贷</div>
            <div class="content-number">2.38%</div>
            <div class="content-descrption">参考月利率</div>
            <div class="content-remark">无抵押|放贷快|0担保</div>
            <div class="content-footer">
              <button class="content-btn">查看详情</button>
            </div>
          </div>
        </div>
        <div class="c-credit-content-item-container">
          <div class="c-credit-content-item green">
            <div class="content-title">恒昌-工薪贷</div>
            <div class="content-number">2.38%</div>
            <div class="content-descrption">参考月利率</div>
            <div class="content-remark">无抵押|放贷快|0担保</div>
            <div class="content-footer">
              <button class="content-btn">查看详情</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>