<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="libs/bootstrap/dist/bootstrap.min.css" />
  <link rel="stylesheet" href="c_platform/css/index.client.style.css" />
  <link rel="stylesheet" href="c_platform/css/product_detail.client.style.css" />
  <script src="libs/jquery/dist/jquery.js"></script>
</head>

<body>
  <div class="c-top-header-area">
    <div class="c-center-area">
      <a class="c-signin">登录</a>
      <a class="c-signup">注册</a>
    </div>
  </div>
  <div class="c-header-area">
    <div class="c-center-area">
      <a href="/" class="c-logo">潮钱logo</a>
      <a class="c-logo">上海</a>
      <a class="c-title">问答百科</a>
      <a class="c-title">咨询策略</a>
      <a class="c-title">信用卡</a>
      <a class="c-title">线下贷款</a>
      <a href="/product_list" class="c-title">信用贷款</a>
      <a href="/" class="c-title">首页</a>
    </div>
  </div>
  <div class="c-banner-area">
    <div class="c-center-area">
    </div>
  </div>

  <div class="c-center-area c-detail-area">
    <div class="c-detail-header">产品详情</div>
    <div class="c-detail-body">
      <div class="body-header">
        <div class="body-header-icon">

        </div>
        <div class="body-header-title">
          啦啦钱包
        </div>
      </div>
      <div class="body-description">
        啦啦钱包，市坚果金服下核心产品，满足年轻用户群体的现金借款和消费需求。核心特点：手续简单，极速审核，放款迅速，守信高额，通过率高，啦啦钱包，满足年轻用户群体的场景服务类消费分期需求以及现金借款的app。
      </div>
      <div class="body-summary">
        <div class="summary-row">
          <span class="summary-key">申请成功率：</span>
          <span class="summary-value">200.00%</span>
        </div>
        <div class="summary-row">
          <span class="summary-key">申请人数：</span>
          <span class="summary-value">20000人</span>
        </div>
        <div class="summary-row">
          <span class="summary-key">最长下款时间：</span>
          <span class="summary-value">2天</span>
        </div>
      </div>
    </div>
    <div class="c-detail-footer">
      <div class="detail-input-area">
        <input class="detail-input input-price" type="number" placeholder="请输入金额" />
        <input class="detail-input input-day" type="number" placeholder="请输入天数" />
        <button class="calculate-btn">计算</button>
      </div>
      <div class="detail-input-area">
        <span class="calculate-key">利息和费用：</span>
        <span class="calculate-value">403元</span>
        <span class="calculate-key">每日费用：</span>
        <span class="calculate-value">30元</span>
      </div>
    </div>
  </div>
  <div class="c-center-area c-detail-area">
    <div class="c-detail-header">
      <div class="c-detail-headr-title">费用说明</div>
      <div class="c-detail-headr-title">申请要求</div>
      <div class="c-detail-headr-title">其他要求</div>
    </div>
    <div class="c-detail-body">
      <div class="c-fee-explain-panel">
        <div class="fee-header">利率（日）：3.3-0.3%</div>
        <div class="fee-body">
          <div class="fee-body-title">申请攻略</div>
          <div class="fee-body-description">啦啦钱包可以分期消费，也可现金借款。</div>
          <div class="fee-body-content-text">1、现金借款额度500-5000元，可以线上直接申请；</div>
          <div class="fee-body-content-text">2、白条最高额度5万元，目前分期产品只开通了医美分歧，需线下扫码；</div>
          <div class="fee-body-content-text">3、需要实名认证刷脸</div>
          <div class="fee-body-content-image">
            这里是说明图片
          </div>
        </div>
      </div>
      <div class="c-apply-panel"></div>
      <div class="c-other-panel"></div>
    </div>
  </div>



  <div class="c-footer-area">
    <div class="c-center-area">
      <div class="c-footer-container">
        <div class="c-footer-item">
          <a class="footer-title">关于我们</a>
          <a class="footer-sub-title">公司简介</a>
          <a class="footer-sub-title">诚聘英才</a>
          <a class="footer-sub-title">企业文化</a>
        </div>
      </div>
      <div class="c-footer-container">
        <div class="c-footer-item">
          <a class="footer-title">关于我们</a>
          <a class="footer-sub-title">公司简介</a>
          <a class="footer-sub-title">诚聘英才</a>
          <a class="footer-sub-title">企业文化</a>
        </div>
      </div>
      <div class="c-footer-container">
        <div class="c-footer-item">
          <a class="footer-title">关于我们</a>
          <a class="footer-sub-title">公司简介</a>
          <a class="footer-sub-title">诚聘英才</a>
          <a class="footer-sub-title">企业文化</a>
        </div>
      </div>
      <div class="c-footer-container">
        <div class="c-footer-item">
          <a class="footer-title">关于我们</a>
          <a class="footer-sub-title">公司简介</a>
          <a class="footer-sub-title">诚聘英才</a>
          <a class="footer-sub-title">企业文化</a>
        </div>
      </div>
      <div class="c-footer-container">
        <div class="c-footer-item">
          <a class="footer-title">关于我们</a>
          <a class="footer-sub-title">公司简介</a>
          <a class="footer-sub-title">诚聘英才</a>
          <a class="footer-sub-title">企业文化</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>