<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>悬赏空间</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_reward.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="back-body">
    <img class="body-center" src="../c_wechat/images/reward/<%= color %>/主图.jpg">
    <img class="receive-task" src="../c_wechat/images/reward/<%= color %>/承接任务按钮.png">
    <img class="refresh-task" src="../c_wechat/images/reward/<%= color %>/任务刷新按钮.png">
    <img class="start-task" src="../c_wechat/images/reward/<%= color %>/开始探宝按钮.png">
    <img class="main-question-mark" src="../c_wechat/images/reward/<%= color %>/主问号.png">
    <img class="question-mark" src="../c_wechat/images/reward/<%= color %>/问号.png">
    <img class="exclamation-mark" src="../c_wechat/images/reward/<%= color %>/感叹号.png">
  </div>
</body>
<script>
  $(function(){
    $('.refresh-task').click(function(){
      window.location ='/page_wechat/page_refresh_reward'
    }); 
  })
</script>

</html>