<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>悬赏空间</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_reward.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="back-header">
    <img class="header-center" src="../c_wechat/images/reward/common/空间限时任务.png">
    <img class="header-center" src="../c_wechat/images/reward/common/标题辅助线.png">
  </div>
</body>

</html>