body {}

.n-center {
  margin: auto;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .n-left {
    border: 1px solid #efefef;
    margin-top: 20px;
    padding: 10px 20px;
    width: 70%;
    .n-description {
      color: #999;
    }
  }
  .n-right {
    font-size: 14px;
    width: 28%;
    .right-item {
      border: 1px solid #efefef;
      margin-top: 20px;
      padding: 10px 20px;
      .a-item {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        img {
          width: 100px;
          height: 60px;
          margin-right: 10px;
        }
        .a-content {
          .a-title {}
          .a-footer {}
        }
      }
      h4 {
        border-bottom: 1px solid #efefef;
        padding-bottom: 10px;
      }
    }
  }
}

.c-header-area .c-center-area {
  padding: 0px;
}