body {
  background-color: #f2f2f2;
  font-size: 16px;
}
.detail-header {
  background-color: white;
  position: relative;
  height: 100px;
  padding: 15px 15px 15px 80px;
  margin: 10px 0px;
}
.detail-header .photo {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 15px;
  right: 15px;
  border-radius: 5px;
}
.detail-header .header-content .content {
  display: flex;
  flex-direction: row;
}
.detail-header .header-content .content .border {
  width: 1px;
  height: 30px;
  border-left: 1px solid #979797;
  margin-top: 15px;
}
.detail-header .header-content .content .content {
  width: 50%;
  flex-grow: 1;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 6px;
}
.detail-header .header-content .content .content .key {
  margin-bottom: 4px;
}
.detail-header .header-content .content .content .value {
  font-size: 12px;
  color: #999;
}
.detail-input {
  background-color: white;
  padding-left: 10px;
}
.detail-input .input-row {
  display: flex;
  flex-direction: row;
  line-height: 50px;
  padding-right: 15px;
}
.detail-input .input-row:last-child {
  border-top: 1px solid #eee;
  padding-right: 8px;
}
.detail-input .input-row .value {
  flex-grow: 1;
  text-align: right;
  border: 0px;
}
.detail-input .input-row .value span {
  color: #999;
}
.detail-input .input-row input {
  padding: 0px;
  color: #3E82F7;
  padding-right: 10px;
}
.detail-input .input-row select {
  color: #3E82F7;
  border: solid 1px #000;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  direction: rtl;
}
.detail-info {
  background-color: white;
  margin-top: 10px;
  padding: 23px 0px;
  display: flex;
  flex-direction: row;
}
.detail-info .info-item {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.detail-info .info-item .title {
  font-size: 20px;
}
.detail-info .info-item .title span {
  font-size: 12px;
}
.detail-info .info-item .value {
  font-size: 12px;
  color: #9B9B9B;
}
.detail-apply {
  margin-top: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.detail-apply .apply-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 35px;
  font-size: 14px;
  width: 50%;
}
.detail-apply .apply-item:first-child {
  border-right: 1px solid #f2f2f2;
}
.detail-apply .apply-item .title {
  margin-bottom: 10px;
}
.detail-apply .apply-item .value {
  line-height: 25px;
  color: #333333;
  position: relative;
}
.detail-apply .apply-item .value .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #FFD591;
  border-radius: 90px;
  position: absolute;
  left: -17px;
  top: 8px;
}
.customer-number {
  font-size: 12px;
  padding: 10px 35px;
  position: relative;
}
.customer-number .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #F3455A;
  border-radius: 90px;
  position: absolute;
  left: 18px;
  top: 14px;
}
.detail-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
  background-color: #f2f2f2;
  padding: 20px 0px;
}
.detail-footer .footer-btn {
  display: block;
  margin: auto;
  width: 80%;
  line-height: 40px;
  text-align: center;
  background-color: #f24659;
  color: white;
  border-radius: 90px;
}
