body {
  background-color: #f2f2f2;
  font-size: 12px;
}
.detail-header {
  background-color: white;
  margin: 10px 0px;
  padding-left: 90px;
  padding-top: 15px;
  position: relative;
  height: 90px;
}
.detail-header .icon {
  background-color: green;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 15px;
  top: 15px;
}
.detail-header .title {
  font-size: 18px;
  line-height: 30px;
}
.detail-header .number {
  color: #999;
}
.detail-center {
  margin-bottom: 15px;
  background-color: white;
}
.detail-center .center-title {
  padding: 15px 0px;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
}
.detail-center .center-title .left,
.detail-center .center-title .right {
  position: relative;
  padding-left: 40px;
  float: left;
}
.detail-center .center-title .left .key,
.detail-center .center-title .right .key {
  position: absolute;
  left: 15px;
  top: 4px;
}
.detail-center .content {
  overflow: hidden;
}
.detail-center .content .left,
.detail-center .content .center,
.detail-center .content .right {
  text-align: center;
  float: left;
  padding: 15px 0px;
}
.detail-center .content .left .title,
.detail-center .content .center .title,
.detail-center .content .right .title {
  font-size: 16px;
}
.detail-center .content .left .text,
.detail-center .content .center .text,
.detail-center .content .right .text {
  line-height: 20px;
  font-size: 12px;
  color: #999;
}
.detail-center .content .left {
  width: 33%;
}
.detail-center .content .center {
  width: 34%;
}
.detail-center .content .right {
  width: 33%;
}
.detail-body {
  background-color: white;
  padding: 15px;
  border-bottom: 1px solid #eeeeee;
}
.detail-body .title {
  line-height: 30px;
  color: #999;
}
.detail-body .list {
  overflow: hidden;
}
.detail-body .list .item {
  float: left;
  width: 50%;
  line-height: 30px;
}
.detail-body .list .item .icon {
  display: inline-block;
}
.detail-body .list .item .text {
  display: inline-block;
}
.detail-condition {
  background-color: white;
  padding: 15px;
}
.detail-condition .title {
  line-height: 30px;
  color: #999;
}
.detail-condition .content {
  line-height: 30px;
}
.detail-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
  background-color: #f2f2f2;
  padding: 20px 0px;
}
.detail-footer .footer-btn {
  display: block;
  margin: auto;
  width: 80%;
  line-height: 40px;
  text-align: center;
  background-color: #f24659;
  color: white;
  border-radius: 90px;
}
