<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="libs/bootstrap/dist/bootstrap.min.css" />
  <link rel="stylesheet" href="site_platform/css/index.client.style.css" />
  <script src="libs/jquery/dist/jquery.js"></script>
</head>

<body>
  <div class="c-top-header-area">
    <div class="c-center-area">
      <a class="c-signin">登录</a>
      <a class="c-signup">注册</a>
    </div>
  </div>
  <div class="c-header-area">
    <div class="c-center-area">
      <a class="c-logo">潮钱logo</a>
      <a class="c-logo">上海</a>
      <a class="c-title">问答百科</a>
      <a class="c-title">咨询策略</a>
      <a class="c-title">信用卡</a>
      <a class="c-title">线下贷款</a>
      <a class="c-title">信用贷款</a>
      <a class="c-title">首页</a>
    </div>
  </div>
  <div class="c-banner-area">
    <div class="c-center-area">
      <div class="c-banner-left">
        <div class="c-banner-left-title">
          <div class="c-title-left">贷款搜索</div>
          <div class="c-title-right">信用卡</div>
        </div>
        <div class="c-banner-left-content">
          <div class="c-content-title">贷款类型</div>
          <div class="c-content-value">
            <select class="c-select">
          <option value="1">信用贷款</option>
          <option value="2">消费贷款</option>
        </select>
          </div>
          <div class="c-content-title">贷款用途</div>
          <div class="c-content-value">
            <select class="c-select">
          <option class="c-select-item" value="1">信用贷款</option>
          <option class="c-select-item"  value="2">消费贷款</option>
        </select>
          </div>
          <div class="c-content-title">贷款期限</div>
          <div class="c-content-value">
            <select class="c-select">
            <option class="c-select-item"  value="1">信用贷款</option>
            <option class="c-select-item"  value="2">消费贷款</option>
          </select>
          </div>
          <div class="c-content-btn">
            搜索
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-credit-type-area">
    <div class="c-center-area">
      <div class="c-credit-type-item">
        <div class="type-item-photo"></div>
        <div class="type-item-text">信用贷款</div>
      </div>
      <div class="c-credit-type-item">
        <div class="type-item-photo"></div>
        <div class="type-item-text">上班族贷款</div>
      </div>
      <div class="c-credit-type-item">
        <div class="type-item-photo"></div>
        <div class="type-item-text">闪电小额贷</div>
      </div>
      <div class="c-credit-type-item">
        <div class="type-item-photo"></div>
        <div class="type-item-text">抵押贷款</div>
      </div>
      <div class="c-credit-type-item">
        <div class="type-item-photo"></div>
        <div class="type-item-text">购车贷款</div>
      </div>
    </div>
  </div>
  <div class="c-credit-content-area">
    <div class="c-credit-content-title">贷款专区</div>
    <div class="c-credit-content-sub-title">无抵押、无担保、极速放款、借款方式更灵活</div>
    <div class="c-center-area">
      <div class="c-credit-content-item-container">
        <div class="c-credit-content-item">
          <div class="content-title">恒昌-工薪贷</div>
          <div class="content-number">2.38%</div>
          <div class="content-descrption">参考月利率</div>
          <div class="content-remark">无抵押|放贷快|0担保</div>
          <div class="content-footer">
            <div class="content-btn">查看详情</div>
          </div>
        </div>
      </div>
      <div class="c-credit-content-item-container center">
        <div class="c-credit-content-item">
          <div class="content-title">恒昌-工薪贷</div>
          <div class="content-number">2.38%</div>
          <div class="content-descrption">参考月利率</div>
          <div class="content-remark">无抵押|放贷快|0担保</div>
          <div class="content-footer">
            <div class="content-btn">查看详情</div>
          </div>
        </div>
      </div>
      <div class="c-credit-content-item-container">
        <div class="c-credit-content-item">
          <div class="content-title">恒昌-工薪贷</div>
          <div class="content-number">2.38%</div>
          <div class="content-descrption">参考月利率</div>
          <div class="content-remark">无抵押|放贷快|0担保</div>
          <div class="content-footer">
            <div class="content-btn">查看详情</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-hot-bank-area"></div>
  <div class="c-hot-credit-card-area"></div>
  <div class="c-day-advice-area"></div>
  <div class="c-search-area-area"></div>
  <div class="c-footer-area"></div>
</body>

</html>