<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="libs/bootstrap/dist/bootstrap.min.css" />
  <link rel="stylesheet" href="site_platform/css/index.client.style.css" />
  <link rel="stylesheet" href="site_platform/css/product_list.client.style.css" />
  <script src="libs/jquery/dist/jquery.js"></script>
</head>

<body>
  <div class="c-top-header-area">
    <div class="c-center-area">
      <a class="c-signin">登录</a>
      <a class="c-signup">注册</a>
    </div>
  </div>
  <div class="c-header-area">
    <div class="c-center-area">
      <a href="/" class="c-logo">潮钱logo</a>
      <a class="c-logo">上海</a>
      <a class="c-title">问答百科</a>
      <a class="c-title">咨询策略</a>
      <a class="c-title">信用卡</a>
      <a class="c-title">线下贷款</a>
      <a class="c-title">信用贷款</a>
      <a class="c-title">首页</a>
    </div>
  </div>
  <div class="c-banner-area">
    <div class="c-center-area">
    </div>
  </div>

  <div class="c-filter-area">
    <div class="c-center-area">
      <div class="c-filter-container">
        <div class="c-filter-area-header">
          <span class="clear-filter">清除筛选条件</span>
        </div>
        <div class="c-filter-area-body">
          <div class="c-filter-row">
            <span class="filter-title">智能排序</span>
            <span class="filter-item">
            <input type="checkbox" /> 智能排序
          </span>
            <span class="filter-item"><input type="checkbox" /> 距离最近
          </span>
            <span class="filter-item"><input type="checkbox" /> 限度最高
          </span>
          </div>
          <div class="c-filter-row">
            <span class="filter-title">智能排序</span>
            <span class="filter-item">
            <input type="checkbox" /> 智能排序
          </span>
            <span class="filter-item"><input type="checkbox" /> 距离最近
          </span>
            <span class="filter-item"><input type="checkbox" /> 限度最高
          </span>
          </div>
          <div class="c-filter-row">
            <span class="filter-title">智能排序</span>
            <span class="filter-item">
            <input type="checkbox" /> 智能排序
          </span>
            <span class="filter-item"><input type="checkbox" /> 距离最近
          </span>
            <span class="filter-item"><input type="checkbox" /> 限度最高
          </span>
          </div>
          <div class="c-filter-row">
            <span class="filter-title">智能排序</span>
            <span class="filter-item">
            <input type="checkbox" /> 智能排序
          </span>
            <span class="filter-item"><input type="checkbox" /> 距离最近
          </span>
            <span class="filter-item"><input type="checkbox" /> 限度最高
          </span>
          </div>
          <div class="c-filter-row">
            <span class="filter-title">智能排序</span>
            <span class="filter-item">
            <input type="checkbox" /> 智能排序
          </span>
            <span class="filter-item"><input type="checkbox" /> 距离最近
          </span>
            <span class="filter-item"><input type="checkbox" /> 限度最高
          </span>
          </div>
          <div class="c-filter-row">
            <span class="filter-title">智能排序</span>
            <span class="filter-item">
            <input type="checkbox" /> 智能排序
          </span>
            <span class="filter-item"><input type="checkbox" /> 距离最近
          </span>
            <span class="filter-item"><input type="checkbox" /> 限度最高
          </span>
          </div>
        </div>

      </div>
      <div class="c-filter-area-footer">
        <button class="c-filter-btn">立即筛选</button>
      </div>
    </div>

    <div class="c-center-area c-list-area">
      <div class="c-list-header">
        <div class="c-col-item">产品名称</div>
        <div class="c-col-item">贷款额度</div>
        <div class="c-col-item width180">产品描述</div>
        <div class="c-col-item width180">参考每日费用</div>
        <div class="c-col-item width80">最长下款时间</div>
        <div class="c-col-item width60">操作</div>
      </div>
      <div class="c-list-row-container">
        <div class="c-list-row">
          <div class="c-col-item">
            <div class="item-photo"></div>
            <div class="item-name">某网贷</div>
          </div>
          <div class="c-col-item c-origin">1000-10000元</div>
          <div class="c-col-item width180">快速审批，最快3分钟放款</div>
          <div class="c-col-item width180">每日费用0.22元</div>
          <div class="c-col-item width80">3天</div>
          <div class="c-col-item width60">
            <button class="col-item-btn">查看详情</button>
          </div>
        </div>
      </div>
      <div class="c-list-row-container">
        <div class="c-list-row">
          <div class="c-col-item">
            <div class="item-photo"></div>
            <div class="item-name">某网贷</div>
          </div>
          <div class="c-col-item c-origin">1000-10000元</div>
          <div class="c-col-item width180">快速审批，最快3分钟放款</div>
          <div class="c-col-item width180">每日费用0.22元</div>
          <div class="c-col-item width80">3天</div>
          <div class="c-col-item width60">
            <button class="col-item-btn">查看详情</button>
          </div>
        </div>
      </div>
      <div class="c-list-row-container">
        <div class="c-list-row">
          <div class="c-col-item">
            <div class="item-photo"></div>
            <div class="item-name">某网贷</div>
          </div>
          <div class="c-col-item c-origin">1000-10000元</div>
          <div class="c-col-item width180">快速审批，最快3分钟放款</div>
          <div class="c-col-item width180">每日费用0.22元</div>
          <div class="c-col-item width80">3天</div>
          <div class="c-col-item width60">
            <button class="col-item-btn">查看详情</button>
          </div>
        </div>
      </div>
    </div>

    <div class="c-list-footer-area">
      <button class="list-footer-btn">上一页</button>
      <button class="list-footer-btn">下一页</button>
    </div>
  </div>


  <div class="c-footer-area">
    <div class="c-center-area">
      <div class="c-footer-container">
        <div class="c-footer-item">
          <a class="footer-title">关于我们</a>
          <a class="footer-sub-title">公司简介</a>
          <a class="footer-sub-title">诚聘英才</a>
          <a class="footer-sub-title">企业文化</a>
        </div>
      </div>
      <div class="c-footer-container">
        <div class="c-footer-item">
          <a class="footer-title">关于我们</a>
          <a class="footer-sub-title">公司简介</a>
          <a class="footer-sub-title">诚聘英才</a>
          <a class="footer-sub-title">企业文化</a>
        </div>
      </div>
      <div class="c-footer-container">
        <div class="c-footer-item">
          <a class="footer-title">关于我们</a>
          <a class="footer-sub-title">公司简介</a>
          <a class="footer-sub-title">诚聘英才</a>
          <a class="footer-sub-title">企业文化</a>
        </div>
      </div>
      <div class="c-footer-container">
        <div class="c-footer-item">
          <a class="footer-title">关于我们</a>
          <a class="footer-sub-title">公司简介</a>
          <a class="footer-sub-title">诚聘英才</a>
          <a class="footer-sub-title">企业文化</a>
        </div>
      </div>
      <div class="c-footer-container">
        <div class="c-footer-item">
          <a class="footer-title">关于我们</a>
          <a class="footer-sub-title">公司简介</a>
          <a class="footer-sub-title">诚聘英才</a>
          <a class="footer-sub-title">企业文化</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>