<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>潮钱借钱</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/card_detail.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/card_detail.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-card-detail">
    <div class="header">
      <img class="photo" src="<%= card.logo %>"></img>
    </div>
    <div class="description">
      <%= card.description %>
    </div>
    <div class="content">
      <% for(var i=0; i<card.str2s.length; i++) {%>
        <div class="content-item">
          <div class="dot"></div>
          <%= card.str2s[i] %>
        </div>
        <% } %>
    </div>
    <div class="footer">
      <a href="<%= card.organization_url %>" class="submit-btn">确认申请</a>
    </div>
  </div>
</body>

</html>