<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>潮钱借钱</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/card_list.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/card_list.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-card-list">
    <img src="../c_wechat/images/card/banner2.png" class="list-banner"></img>
    <div class="list-title">
      <%= title %>
    </div>
    <div class="list">
      <% for(var i=0; i<cards.length; i++) {%>
        <a href="/page_wechat/card_detail?card_id=<%= cards[i]._id %>" class="list-item">
          <img class="photo" src="<%= cards[i].logo %>"></img>
          <div class="title">
            <%= cards[i].name %>
          </div>
          <div class="tag-row">

            <% for(var j=0; j<cards[i].str1s.length; j++) {%>
              <div class="row-item">
                <%= cards[i].str1s[j] %>
              </div>
              <% } %>
          </div>
          <div class="content">
            <%= cards[i].int5 %>
              <span>人成功申请</span>
          </div>
        </a>
        <% } %>
    </div>
  </div>
</body>

</html>