<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>潮钱网</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/card_home.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/card_home.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-card" >
    <div class="card-header">
      <a class="header-item select" href="/page_wechat/card_home">信用卡首页</a>
      <a class="header-item" href="/page_wechat/card_progress">申请进度</a>
    </div>
    <img src="../c_wechat/images/bank/banka_banner.jpg" class="card-banner"></img>
    <table align="center" cellspacing="1" class="style1">
        <tr>
            <td class="style2">
                <a href="https://creditcard.ecitic.com/h5/shenqing/yijianbanka/index.html?sid=SJWXBK&foot_s=0&llqf=wx" >
                  <img alt="" src="../c_wechat/images/bank/zhongxin.png" title="中信银行" />
                </a>
            </td>    
            <td class="style2">
                <a href="https://ecentre.spdbccc.com.cn/creditcard/indexActivity.htm?data=P1070892" >
                  <img alt="" src="../c_wechat/images/bank/pufa.png" title="浦发银行"/>
                </a>                        
            </td>
            <td class="style2">
                <a href="https://creditcardapp.bankcomm.com/applynew/front/apply/track/record.html?trackCode=A1221134787641" >
                  <img alt="" src="../c_wechat/images/bank/jiaotong.png" title="交通银行"/>
                </a>                        
            </td>    
            <td class="style2">
                <a href="https://mbank.bankofshanghai.com/Latte/#/CreditType" >
                  <img alt="" src="../c_wechat/images/bank/shanghai.png" title="上海银行"/>
                </a>                        
            </td>              
        </tr>
        <tr>
            <td class="style2">
                中信银行</td>
            <td class="style2">
                浦发银行</td>
            <td class="style2">
                交通银行</td>
            <td class="style2">
                上海银行</td>
        </tr>
        <tr>
            <td class="style2">
                <a href="https://lp.adsage.com/xyk/920000367/index.html" >
                  <img alt="" src="../c_wechat/images/bank/pingan.png" title="平安银行" />
                </a>                        
            </td>  
            <td class="style2">
                <a href="https://ccshop.cib.com.cn:8010/application/cardapp/newfast/ApplyCard/toSelectCard?id=1e0f8f96a31c4861957a5a0cf69d0b58" >
                  <img alt="" src="../c_wechat/images/bank/xinye.png" title="兴业银行"/>
                </a>                        
            </td>  
            <td class="style2">
                <a href="https://creditapply.hxb.com.cn/weixin/cardChoice.html" >
                  <img alt="" src="../c_wechat/images/bank/huaxia.png" title="华夏银行"/>
                </a>                        
            </td>  
            <td class="style2">
                <a href="https://creditcard.cmbc.com.cn/wsv2/?etr=vNVJ+/7zWwvPQVk3EGYxwROxHIb5tIf850osKGyEqehYKq5wlxm9VNeJkF0nktthTHrYVI3TnKdAxPEQ8MhBi7ghdRYbp2f7l0IhivsHRtWh1gOBd/eAQbQHRwwE0MW2cGETDgXQ4MPwu1ROtXS/0kPLX+Xg370RkCkrsnAitM5kMIC9Qq2H5VfD19JG8x+TGhE3un0QPLpXmMmXgfy60jWExTlcxYwmkKwd8DeSYBau9Gqp/Wkiu/CltUL4bFgAHPbyPRKA5syfQZBhjqu7AzktW/QRlHL8NjM4q6/A/iHjwoJLMpQqWi3uw/IcwkCEPoaV1y1silmJyWulzij9jTJEDjsdgoFIY31fIJTD8gHYAz1zqDrqlL3xaDn0OPTy+Etf3R8Vrt66bbZ5ToWxp9vf5PJX0j7Zldmkcm5LQzAK5HDMOWdwwOVSlL4SfjPAt1SUs+Or2gClmyhY5TyXqJnm3w8DAuZeDJQzbrhfj+WgpRQzpcrmeI8Dl2kmuUQO" >
                  <img alt="" src="../c_wechat/images/bank/mingsheng.png" title="民生银行"/>
                </a>                        
            </td>  
      </tr>
        <tr>
            <td class="style2">
                平安银行</td>
            <td class="style2">
                兴业银行</td>
            <td class="style2">
                华夏银行</td>
            <td class="style2">
                民生银行</td>
        </tr>
    </table>





    
    <div class="card-body">
        <img src="../c_wechat/images/bank/zs.jpg" class="card-zs"></img>
      <div class="body-row">
        <a href="/page_wechat/card_list?key=int1" class="row-item">
          <img src="../c_wechat/images/card/card_1.png" class="photo"></img>
          <div class="title">新手专区</div>
          <div class="content">高下卡率</div>
        </a>
        <a href="/page_wechat/card_list?key=int2" class="row-item">
          <img src="../c_wechat/images/card/card_2.png" class="photo"></img>
          <div class="title">贷款取现</div>
          <div class="content">高效高额</div>
        </a>
      </div>
      <div class="body-row">
        <a href="/page_wechat/card_list?key=int3" class="row-item">
          <img src="../c_wechat/images/card/card_3.png" class="photo"></img>
          <div class="title">网购达人</div>
          <div class="content">积分爆棚</div>

        </a>
        <a href="/page_wechat/card_list?key=int4" class="row-item">
          <img src="../c_wechat/images/card/card_4.png" class="photo"></img>
          <div class="title">商务旅游</div>
          <div class="content">吃喝住行</div>
        </a>
      </div>
    </div>
 <!--  
    <div class="card-list">
      <div class="list-title">信用卡大全</div>
      <% for(var i=0; i<cards.length; i++) {%>
     
        <a href="/page_wechat/card_detail?card_id=<%= cards[i]._id %>" class="card-item">
          <img class="photo" src="<%= cards[i].logo %>">
          </img>
          <div class="title">
            <%= cards[i].name %>
          </div>
          <div class="content">
            <%= cards[i].description %>
          </div>
          <div class="arrow"></div>
        </a>
      
      <a href="https://ccshop.cib.com.cn:8010/application/cardapp/newfast/ApplyCard/toSelectCard?id=1e0f8f96a31c4861957a5a0cf69d0b58" class="card-item">
        <img class="photo" src="../c_wechat/images/bank/XinyeBank.png">
          </img>
      </a>
        <% } %>
    </div>
 -->   
  </div>
</body>

</html>