<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>潮钱借钱</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/credit_people_detail.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/credit_people_detail.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-credit-people-detail">
    <div class="header-content">
      <div class="photo">

      </div>
      <div class="name">
        叶英
      </div>
      <div class="tags">
        <span class="tag-item">信用贷</span>
        <span class="tag-item">社保贷</span>
        <span class="tag-item">工薪贷</span>
      </div>
    </div>
    <div class="body-content">
      <div class="border"></div>
      <div class="title">开始从事贷款行业时间</div>
      <div class="value">2017年</div>
    </div>
    <div class="body-content">
      <div class="border"></div>
      <div class="title">个人描述</div>
      <div class="value">我叫叶英，可以叫我印子，性格比较开朗，欢迎来…</div>
    </div>
    <div class="body-content">
      <div class="border"></div>
      <div class="title">业务详情</div>
      <div class="value">无抵押贷款，三小时放款，无抵押贷款，三小时放款，无抵押贷款，三小时放款，</div>
    </div>
    <a class="footer-content">
      <div class="submit-btn">立即联系</div>
    </a>

  </div>
</body>

</html>