<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>潮钱网</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/home.client.style.css" />
  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/page_native.client.controller.js"></script>
  <script src="../c_wechat/controllers/home.client.controller.js"></script>
</head>

<body>
  <div class="page-home">
    <div class="header-row">
      <img src="/c_wechat/images/home/卡.png" />
      <div class="header-content">
        <div class="content-row">
          <div class="title">授信额度（元）</div>
          <div class="price">0</div>
        </div>
        <div class="content-row">
          <div class="title">总额度（元）</div>
          <div class="price">5000</div>
        </div>
      </div>
      <div class="header-tip">按日计息，1000元借一天，利息最高0.5元</div>
      <img src="/c_wechat/images/home/header_vip_icon.png" class="header-icon"></img>
    </div>
    <div class="tip-row vip_notice">
      <img src="/c_wechat/images/home/喇叭.png" alt="">
      <div>点击进入VIP快捷申请通道</div>
      <div></div>
    </div>
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">VIP优势</div>
      <div class="weui-panel__bd">
        <div class="weui-flex">
          <div class="weui-flex__item">
            <img src="/c_wechat/images/home/小图标01.png" alt="">
            <div class="">多资金方</div>
          </div>
          <div class="weui-flex__item">
            <img src="/c_wechat/images/home/小图标02.png" alt="">
            <div class="">确保下款</div>
          </div>
          <div class="weui-flex__item">
            <img src="/c_wechat/images/home/小图标03.png" alt="">
            <div class="">无忧快退</div>
          </div>
          <div class="weui-flex__item">
            <img src="/c_wechat/images/home/小图标04.png" alt="">
            <div class="">高额返现</div>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">服务推荐</div>
      <div class="weui-panel__bd">
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
          <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">自由借款</h4>
            <p class="weui-media-box__desc">过风控就下款，资金方自己选</p>
          </div>
          <div class="go-btn" onclick="goToWindow('/page_h5/page_list_qq','自由借款')">接收服务</div>
        </a>
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
          <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">还信用卡</h4>
            <p class="weui-media-box__desc">空卡代还，无卡取款，超低成本</p>
          </div>
          <div class="go-btn" onclick="goToWindow('/page_wechat/paycredit','还信用卡')">接收服务</div>
        </a>
      </div>
    </div>
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__bd">
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
          <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">P2P平台满标</h4>
            <p class="weui-media-box__desc">过风控就下款，资金方自己选</p>
          </div>
          <img class="right-img" src="/c_wechat/images/home/点击咨询体验.png" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="page-footer">
    <a href="/page_wechat/home" class="footer-item select">
      <img src="../c_wechat/images/index/yen_select.png" class="icon"></img>
      <div class="title">贷款</div>
    </a>
    <a href="javascript:;" class="footer-item 找钱" onclick="goToWindow('/page_wechat/self_home?sort_key=create_time&sort_value=-1','找钱')">
      <img src="../c_wechat/images/index/shopping.png" class="icon"></img>
      <div class="title">找钱</div>
    </a>
    <!-- <a href="javascript:;" onclick="goToWindow('https://www.vzan.com/f/s-1038567','公告')" class="footer-item">
      <img src="../c_wechat/images/index/yen.png" class="icon"></img>
      <div class="title">公告</div>
    </a> -->

    <a href="javascript:;" onclick="goToWindow('https://credit.haodai.com/?ref=hd_11019247','信用卡')" class="footer-item">
      <img src="../c_wechat/images/index/yen.png" class="icon"></img>
      <div class="title">信用卡</div>
    </a>


    <!--
    <a href="https://credit.haodai.com/?ref=hd_11019247" class="footer-item">
    -->
    <a href="javascript:;" class="footer-item" onclick="goToWindow('/page_wechat/page_query_main','查询')">
      <img src="../c_wechat/images/index/wallet.png" class="icon"></img>
      <div class="title">查询</div>
    </a>
    <a href="javascript:;" class="footer-item " onclick="goToWindow('/page_wechat/me','我的')">
      <img src="../c_wechat/images/index/payment.png" class="icon"></img>
      <div class="title">我的</div>
    </a>
  </div>
</body>
<script>
  $(function () {
    localStorage.setItem('device', '<%= device  %>');
    $('.no_open').click(function () {
      $.alert("即将开放！");
    });

    $('.vip_notice').click(function () {
      if (typeof (api) !== 'undefined') {
        goToWindow('/page_wechat/vip_notice?device=native', 'VIP通道')
      }
      else {
        goToWindow('/page_wechat/vip_notice', 'VIP通道')
      }
    })
  });

</script>

</html>