<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>潮钱网</title>
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/home.client.style.css" />
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/home.client.controller.js"></script>
</head>

<body>
  <div class="page-home">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <a class="swiper-slide" href="/page_wechat/banner?img=banner11.jpg">
          <img src="../c_wechat/images/home/banner00.jpg" />
        </a>

        <a class="swiper-slide" href="/page_wechat/banner?img=banner13.jpg">
          <img src="../c_wechat/images/home/banner02.jpg" />
        </a>

        <img class="swiper-slide" src="../c_wechat/images/home/banner01.jpg" />

      </div>
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
    </div>
    <a href="https://fk.xunmatong.net/wechat/user/root?mid=28&bid=0&referer=%E5%8E%BB%E5%93%AA%E8%B4%B7" class="home-apply-btn">
      我要借款
    </a>
    <div class="home-apply-text">快速过桥贷，14天起，利率低，活动送免还劵</div>
    <div class="home-bottom">
      <div class="weui-flex">
        <div class="weui-flex__item">
          <a href="/page_wechat/vip_notice" class="item left">
            <img src="../c_wechat/images/home/vip.png" class="icon"></img>
            <div class="title">VIP通道</div>
            <div class="description">风控专家人工报告,承诺100%下款成功</div>
          </a>
        </div>
        <div class="weui-flex__item">
          <a href="https://static.weidai.com.cn/static/common/weiApp/webH5/channelAdd/index.html?channel=28&shopNo=" class="item right">
            <img src="../c_wechat/images/home/car_mgr.png" class="icon"></img>
            <div class="title">以车借贷</div>
            <div class="description">有车就能下款,700家店面管家式服务满足您</div>
          </a>
        </div>
      </div>



    </div>

    <div class="home-bottom">
      <div class="weui-flex">
        <div class="weui-flex__item">
          <a href="/page_wechat/banner?img=pos_link.jpg" class="item left">
            <img src="../c_wechat/images/home/POS.png" class="icon"></img>
            <div class="title">POS机申请</div>
            <div class="description">本地化真实商户,不跳公益刷卡不再求人</div>
          </a>
        </div>
        <div class="weui-flex__item">
          <a href="" class="item right">
            <img src="../c_wechat/images/home/return_creditcard.png" class="icon"></img>
            <div class="title">赏金集市</div>
            <!-- <div class="description">自动还账单,不占资金,养卡提额全新黑科技</div> -->
          </a>
        </div>
      </div>




    </div>

  </div>
  <div class="page-footer">
    <a href="/page_wechat/home" class="footer-item select">
      <img src="../c_wechat/images/index/yen_select.png" class="icon"></img>
      <div class="title">贷款</div>
    </a>
    <a href="/page_wechat/self_home?sort_key=create_time&sort_value=-1" class="footer-item">
      <img src="../c_wechat/images/index/shopping.png" class="icon"></img>
      <div class="title">找钱</div>
    </a>
    <a href="" class="footer-item">
      <img src="../c_wechat/images/index/yen.png" class="icon"></img>
      <div class="title">福利</div>
    </a>
    <!--
    <a href="https://credit.haodai.com/?ref=hd_11019247" class="footer-item">
    -->
    <a href="/page_wechat/card_home" class="footer-item">
      <img src="../c_wechat/images/index/wallet.png" class="icon"></img>
      <div class="title">信用卡</div>
    </a>
    <a href="/page_wechat/me" class="footer-item ">
      <img src="../c_wechat/images/index/payment.png" class="icon"></img>
      <div class="title">我的</div>
    </a>
  </div>
</body>

</html>