<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>我的</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/me.client.style.css" />
  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="../c_wechat/helpers/time.client.helper.js"></script>
  <script src="../c_wechat/controllers/page_native.client.controller.js"></script>
  <script src="../c_wechat/controllers/me.client.controller.js"></script>
</head>

<body>
  <div class="page-me-header">
    <img src="<%= (user.wechat_info.headimgurl?user.wechat_info.headimgurl:'--') %>" class="header-left"></img>
    <div class="header-right">
      <div class="header-name">

        <div class="nickname">
          <%= (user.wechat_info.openid?user.wechat_info.nickname:'--') %>
        </div>


        <% if (user.vip_status==='passed') { %>
          <div class="vip-tag">vip会员</div>
          <% } else  {%>
            <div class="vip-tag no">非vip会员</div>
            <% } %>
              <div class="vip-tag">
                <%= user.agent_rate %>
              </div>
      </div>

    </div>
  </div>

  <div class="page-me-list">
    <a class="list-item" onclick="goToWindow('/page_wechat/me_info','个人资料')">
      <span class="item-text">个人资料</span>
      <img src="../c_wechat/images/arrow_right.png" class="item-arrow"></img>
    </a>
    <!-- <a class="list-item" href="/page_wechat/me_achievement">
      <span class="item-text">我的业绩</span>
      <img src="../c_wechat/images/arrow_right.png" class="item-arrow"></img>
    </a> -->
    <a class="list-item" href="javascript:;">
      <span class="item-text ">我的账单</span>
      <img src="../c_wechat/images/arrow_right.png" class="item-arrow"></img>
    </a>
    <!-- <a class="list-item no_open" href="javascript:;">
      <span class="item-text">我的赏金</span>
      <img src="../c_wechat/images/arrow_right.png" class="item-arrow"></img>
    </a> -->
    <a class="list-item" onclick="goToWindow('/page_wechat/me_query','查询结果')" >
      <span class="item-text">查询结果</span>
      <img src="../c_wechat/images/arrow_right.png" class="item-arrow"></img>
    </a>
    <a class="list-item" onclick="goToWindow('/page_wechat/me_agent','代理业绩')" >
      <span class="item-text">代理业绩</span>
      <img src="../c_wechat/images/arrow_right.png" class="item-arrow"></img>
    </a>
    <a class="list-item" onclick="goToWindow('/page_wechat/me_account','个人消费')" >
      <span class="item-text">个人消费</span>
      <img src="../c_wechat/images/arrow_right.png" class="item-arrow"></img>
    </a>
    <a class="list-item contacts" href="javascript:;" >
      <span class="item-text">联系我们</span>
      <img src="../c_wechat/images/arrow_right.png" class="item-arrow"></img>
    </a>
  </div>

  <!-- <div class="home-bottom">
    <a href="https://static.weidai.com.cn/static/common/weiApp/webH5/channelAdd/index.html?channel=28&shopNo=" class="item left">
      <img src="../c_wechat/images/me/jczx.png" class="icon"></img>
      <div class="title">以车借贷</div>
      <div class="description">有车就能下款，700家店面管家式服务满足您</div>
    </a>
    <a href="https://m.shebaoonline.com/weixin/getweixin.do?name=index/index&invitCode=ISA3kj" class="item right">
      <img src="../c_wechat/images/me/sbgjj.png" class="icon"></img>
      <div class="title">社保公积金</div>
      <div class="description">全国80个城市,无间断社保公积金精养资质快来看</div>
    </a>
  </div> -->



</body>
<script>
  $(function(){
    $('.no_open').click(function(){
      $.alert("即将开放！");
    });
    $('.contacts').click(function(){
      $.alert("<div style='text-align:left'>微信客服：jingbeikefu</div><div style='text-align:left'>商务合作：cwas@jingbeihulian.com</div>",'联系客服');
    });
  });
</script>
</html>