<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>推荐结果</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/me.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-me-header">
    <div class="header-left"></div>
    <div class="header-right">
      <div class="header-name">
        <%= (user.wechat_info.openid?user.wechat_info.nickname:'--') %>
      </div>
      <a class="header-login" href="/page_wechat/signup">注册／登录</a>
      <div class="header-rights">关于会员返利权限？</div>
    </div>
  </div>
  <div class="me-current-rights">
    <div class="rights-title">当前权限</div>
    <div class="rights-content">会员期内首次申请获得100%下款通道，过桥资金通道，征信报告</div>
  </div>
  <div class="page-me-list">
    <a class="list-item" href="/page_wechat/me_info">
      <span class="item-icon">i</span>
      <span class="item-text">个人资料</span>
      <span class="item-arrow">i</span>
    </a>
    <div class="list-item">
      <span class="item-icon">i</span>
      <span class="item-text">征信评价</span>
      <span class="item-arrow">i</span>
    </div>
    <div class="list-item">
      <span class="item-icon">i</span>
      <span class="item-text">历史业务</span>
      <span class="item-arrow">i</span>
    </div>
    <div class="list-item">
      <span class="item-icon">i</span>
      <span class="item-text">我的业绩</span>
      <span class="item-arrow">i</span>
    </div>
    <div class="list-item">
      <span class="item-icon">i</span>
      <span class="item-text">我的账户</span>
      <span class="item-arrow">i</span>
    </div>
    <div class="list-item">
      <span class="item-icon">i</span>
      <span class="item-text">帮助中心</span>
      <span class="item-arrow">i</span>
    </div>
    <div class="list-item">
      <span class="item-icon">i</span>
      <span class="item-text">设置</span>
      <span class="item-arrow">i</span>
    </div>
    <div class="list-item">
      <span class="item-icon">i</span>
      <span class="item-text">个人资料</span>
      <span class="item-arrow">i</span>
    </div>
  </div>

  <div class="footer-me-btn">退出登录</div>
</body>

</html>