<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>我的代理</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/me_agent.client.style.css" />
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/jquery-qrcode/dist/jquery.qrcode.js"></script>
  <script src="../c_wechat/controllers/page_wechat.client.controller.js"></script>
  <script src="../c_wechat/controllers/me_agent.client.controller.js"></script>
</head>

<body>

  <div class="page-me-agent">
    <div class="card-header">
      <a class="header-item select" href="/page_wechat/me_agent">我的代理</a>
      <a class="header-item " style="border-bottom: 1px solid" href="/page_wechat/me_achievement">我的业绩</a>
    </div>
    <div class="agent-header">
      <div class="header-title">
        <%= user.agent_rate %>
      </div>
      <div class="header-content">
        <div class="content-item">
          <div class="title">我发展的客户数量</div>
          <div class="value">
            <%= user.first_child_count %> 人</div>
        </div>
        <div class="content-item">
          <div class="title">我的二阶人脉数量</div>
          <div class="value">
            <%= user.second_child_count %> 人</div>
        </div>
      </div>
    </div>
    <div class="agent-body">
      <div class="body-title">专属推广二维码 （长按保存）</div>
      <div class="body-code" id="qrcode"></div>
      <img class="body-code" id="imgcode" src="" />
    </div>
    <div class="agent-body">
      <div class="body-row">
        <div class="left">我的专属推荐码</div>
        <div class="right username">
          <%= user.username %>
        </div>
      </div>
      <div class="body-row">
        <div class="left">我的专属推广链接</div>
        <div class="right shareurl">
          <%= url_info[0].url_short %>
        </div>
      </div>

      <div class="body-row">
        <div class="left">我的专属营销客服微信</div>
        <div class="right">kingbeich</div>
      </div>
      <div class="body-footer">
        <div class="dot"></div>
        <div class="text">以上均为专属推广资料，但凡经过该信息注册过来的用户不再输入举荐码也可被系统识别为你拓展的客户</div>
      </div>
    </div>
  </div>
</body>
<script>
  $(function () {
    var qrcode = $("#qrcode").qrcode({
      render: "canvas",
      foreground: "#C00",
      background: "#FFF",
      text: "<%= url_info[0].url_short %>",//任意内容 
      size: 120,
    }).hide();

    var canvas = qrcode.find('canvas').get(0);
    $('#imgcode').attr('src', canvas.toDataURL('image/jpg'));

    getUserJsApiTicket(window.location.href, function () {
      onMenuShareAppMessage(
        '潮钱借款',
        '玩个小游戏能拿红包还能获得授信额度？给就一定下款？没错，快注册碰下运气吧~寻宝满足你~每天都有，记住哦',
        'http://' + window.location.host + '/page_me_share/' + '<%= user.username %>',
        'http://' + window.location.host +'/c_wechat/images/me_share/图标.png' );
    })
  })
</script>

</html>