<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>我的业绩</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/me_achievement.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../c_wechat/controllers/me_achievement.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="card-header">
    <a class="header-item " href="/page_wechat/me_agent">渠道代理</a>
    <a class="header-item select" href="/page_wechat/me_achievement">我的业绩</a>
  </div>
  <div class="myphone" style="display:none">
    <%= (user.username) %>
  </div>
  <div class="page-me-achievement">
    <div class="list">

    </div>
  </div>
</body>
<script>
  $(function () {
    function parent_rewards() {
      $.ajax({
        url: '/user/parent_rewards',
        method: 'post',
        success: function (data) {
          if (data && !data.err) {
            data.forEach(function (item) {
              append_item(item);
            })
          }
        }
      })
    }

    function append_item(item) {
      var result = getDiffText(item);
      if (result.text) {
        var obj = $(
          '<div class="list-item">' +
          '  <div class="header">' +
          '    <div class="type lightblue">' + item.text + '</div>' +
          '    <div class="text">佣金：' +
          '      ' + result.price +
          '    </div>' +
          '  </div>' +
          '  <div class="body">' +
          '    <div class="body-item">' +
          '      <div class="title">推荐用户尾号</div>' +
          '      <div class="text">' +
          '        ' + result.number +
          '      </div>' +
          '    </div>' +
          '    <div class="border"></div>' +
          '    <div class="body-item">' +
          '      <div class="title">业务月份</div>' +
          '      <div class="text">' +
          '         ' + item.time +
          '      </div>' +
          '    </div>' +
          '    <div class="border"></div>' +
          '    <div class="body-item">' +
          '      <div class="title">支付时间</div>' +
          '      <div class="text">月末</div>' +
          '    </div>' +
          '  </div>' +
          '</div>'
        )

        $('.list').append(obj);
      }

    }

    function getDiffText(item) {
      var result = {};
      result.number = item.user_phone.substring(7, 11);
      var date = new Date(item.create_time);
      result.time = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
      switch (item.type) {
        case 'vip_pay':
          result.text = 'vip充值';
          result.price = '50';
          break;
        case 'postcode_pay':
          result.text = '信用代还';
          result.price = '50';
          break;
        case 'pos_xinguodu':
          result.text = '新国东pos机';
          result.price = '80';
          break;
        case 'query_大数据':
          result.text = '大数据查询';
          result.price = '5';
          break;
        case 'query_黑灰行为':
          result.text = '黑灰行为查询';
          result.price = '5';
          break;
      }
      return result;
    }
    parent_rewards();
  })
</script>

</html>