<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>个人消费</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/me_account.client.style.css" />
  <script src="../libs/moment/min/moment.min.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>
</head>

<body>

</body>
<script>
  $(function () {
    var pays = '<%- JSON.stringify( pays) %>';
    pays = JSON.parse(pays);

    pays.forEach(function (item) {
      $('body').append(
        $(
          '  <div class="weui-form-preview" style="margin-bottom: 10px;">' +
          '  <div class="weui-form-preview__hd">' +
          '    <label class="weui-form-preview__label">付款金额</label>' +
          '    <em class="weui-form-preview__value">¥' +
          '      ' + item.content.total_fee / 100 +
          '    </em>' +
          '  </div>' +
          '  <div class="weui-form-preview__bd">' +
          '    <div class="weui-form-preview__item">' +
          '      <label class="weui-form-preview__label">订单号</label>' +
          '      <span class="weui-form-preview__value">' + item._id+ '</span>' +
          '    </div>' +
          '    <div class="weui-form-preview__item">' +
          '      <label class="weui-form-preview__label">商品</label>' +
          '      <span class="weui-form-preview__value">' + getGoodsByType(item.type) + '</span>' +
          '    </div>' +
          '    <div class="weui-form-preview__item">' +
          '      <label class="weui-form-preview__label">时间</label>' +
          '      <span class="weui-form-preview__value">' + moment(item.create_time).format('YYYY-MM-DD HH:mm') + '</span>' +
          '    </div>' +
          '  </div>' +
          '</div>')
      );
    });

    function getGoodsByType(type) {
      var text = '-';
      'vip_pay', 'postcode_pay', '', 'pos_xinguodu', 'credit198_pay', 'query_大数据', 'query_黑灰行为', 'query_黑中介'
      switch (type) {
        case 'vip_pay':
          text = 'vip充值';
          break;
        case 'postcode_pay':
          text = 'pos机激活码';
          break;
        case 'pos_suixingfu':
          text = '随行付';
          break;
        case 'pos_xinguodu':
          text = '新国都';
          break;
        case 'query_大数据':
          text = '大数据查询';
          break;
        case 'query_黑灰行为':
          text = '黑灰行为查询';
          break;
        case 'query_黑中介':
          text = '黑中介查询';
          break;
      }
      return text;
    }

  });
</script>

</html>