<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>我的代理</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/me_agent.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/jquery-qrcode/dist/jquery.qrcode.js"></script>
  <script src="../c_wechat/controllers/me_agent.client.controller.js"></script>
</head>

<body>
  <div class="page-me-agent">
    <div class="agent-header">
      <div class="header-title">S级代理商</div>
      <div class="header-content">
        <div class="content-item">
          <div class="title">我发展的客户数量</div>
          <div class="value">
            <%= user.first_child_count %> 人</div>
        </div>
        <div class="content-item">
          <div class="title">我的二阶人脉数量</div>
          <div class="value">
            <%= user.second_child_count %> 人</div>
        </div>
      </div>
    </div>
    <div class="agent-body">
      <div class="body-title">专属推广二维码 （长按保存）</div>
      <div class="body-code" id="qrcode"></div>
      <img class="body-code" id="imgcode" />
    </div>
    <div class="agent-body">
      <div class="body-row">
        <div class="left">我的专属推荐码</div>
        <div class="right username">
          <%= user.username %>
        </div>
      </div>
      <div class="body-row">
        <div class="left">我的专属推广连接</div>
        <div class="right shareurl">
          <%= url_info[0].url_short %>
        </div>
      </div>

      <div class="body-row">
        <div class="left">我的专属营销客服微信</div>
        <div class="right">13322222222</div>
      </div>
      <div class="body-footer">
        <div class="dot"></div>
        <div class="text">以上均为专属推广资料，但凡经过该信息注册过来的用户不再输入举荐码也可被系统识别为你拓展的客户</div>
      </div>
    </div>
    <div class="agent-list">
      <div class="list-title">
        <div class="boder"></div>
        <div class="text">昨日推广排行榜</div>
      </div>
      <div class="list-item">
        <div class="icon green">最多拓新</div>
        <div class="item-left">
          <div class="title">135XXXXXX45
          </div>
          <div class="value">李先生</div>
        </div>
        <div class="item-right">
          <div class="title">100元
          </div>
          <div class="value">赏金已发支付宝</div>
        </div>
      </div>
      <div class="list-item">
        <div class="icon red">最多 拓VIP
        </div>
        <div class="item-left">
          <div class="title">135XXXXXX45
          </div>
          <div class="value">李先生</div>
        </div>
        <div class="item-right">
          <div class="title">100元
          </div>
          <div class="value">赏金已发支付宝</div>
        </div>
      </div>
      <div class="list-item">
        <div class="icon light-green">最多 拓POS
        </div>
        <div class="item-left">
          <div class="title">135XXXXXX45
          </div>
          <div class="value">李先生</div>
        </div>
        <div class="item-right">
          <div class="title">100元
          </div>
          <div class="value">赏金已发支付宝</div>
        </div>
      </div>
      <div class="list-item">
        <div class="icon light-blue">最多 贷款额
        </div>
        <div class="item-left">
          <div class="title">135XXXXXX45
          </div>
          <div class="value">李先生</div>
        </div>
        <div class="item-right">
          <div class="title">100元
          </div>
          <div class="value">赏金已发支付宝</div>
        </div>
      </div>
      <div class="list-item">
        <div class="icon blue">最多 拓POS
        </div>
        <div class="item-left">
          <div class="title">135XXXXXX45
          </div>
          <div class="value">李先生</div>
        </div>
        <div class="item-right">
          <div class="title">100元
          </div>
          <div class="value">赏金已发支付宝</div>
        </div>
      </div>
    </div>
    <div class="agent-footer">
      <div class="footer-title">恭喜以上代理商</div>
      <div class="footer-content">
        <div class="dot"></div>
        <div class="text">每名代理每个月只有2次上榜机会，针对月排名第一超过8次的（系统能侦测到数据），官方定期以每月采访一个做公开报道的形式分享</div>
      </div>
    </div>
  </div>
  </div>

</body>
<script>
  $(function () {
    var qrcode = $("#qrcode").qrcode({
      text: "<%= url_info[0].url_short %>",//任意内容 \
      size: 120,
    }).hide();

    var canvas = qrcode.find('canvas').get(0);
    $('#imgcode').attr('src', canvas.toDataURL('image/jpg'))
  })
</script>

</html>