<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>个人信息</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/me_info.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../c_wechat/controllers/me_info.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="myuserid" style="display:none">
    <%= (user._id) %>
  </div>
  <div class="page-me-info">
    <div class="info-list">
      <div class="info-item">
        <div class="item-text">姓名</div>
        <input class="item-value real_name" type="text" value="<%= (user.real_name) %> " />
      </div>
      <div class="info-item">
        <div class="item-text">预留手机</div>
        <div class="item-value">
          <%= (user.username) %>
        </div>
      </div>
      <div class="info-item">
        <div class="item-text">用户微信</div>
        <div class="item-value">
          <%= user.wechat_info.openid %>
        </div>
      </div>
      <div class="info-item">
        <div class="item-text">支付宝账号</div>
        <input class="item-value alipay" type="text" value="<%= (user.alipay_id) %> " />
      </div>
      <div class="info-item">
        <div class="item-text">电子邮箱地址</div>
        <input class="item-value email" type="text" value="<%= (user.email) %> " />
      </div>
      <div class="info-item">
        <div class="item-text">资料邮寄地址</div>
        <input class="item-value adress" type="text" value="<%= (user.adress) %>" />
      </div>
    </div>
    <div class="submit-btn">保存</div>
  </div>
  <!-- <div class="home-bottom">
    <a href="/page_wechat/banner?img=banner12.jpg" >
     
    <img src="../c_wechat/images/home/banner03.jpg" class="item_bottom"/>
    </a>
  </div>     -->
</body>
<script>
  $(function () {

  });
</script>

</html>