<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>个人消费</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/me_account.client.style.css" />
  <script src="../libs/moment/min/moment.min.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>
</head>

<body>
  <div class="card-header">
    <a class="header-item" href="/page_wechat/me_account">我的消费</a>
    <a class="header-item select" href="/page_wechat/me_loan">我的借款</a>
    <!-- <a class="header-item" href="/page_wechat/self_local">大额借贷</a> -->
  </div>
</body>
<script>
</script>

</html>