<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>我的代理</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/me_query_detail.client.style.css" />
  <script src="../libs/moment/min/moment.min.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>
</head>

<body>
  <div class="header">
    <i class="weui-icon-info weui-icon_msg"></i>注意：查询报告将在72小时后自动删除！
  </div>
  <div class="weui-media-box weui-media-box_appmsg">
    <div class="weui-media-box__bd">
      <div class="item-title">订单时间：
        <span class="time"></span>
      </div>
      <div class="item-title">用户：**</div>
    </div>
  </div>

  <% for(var i=0; i<(data.list||[]).length; i++) {%>
    <div class="item">
      <div class="row">
        <div class="title">结果列表 :
          <%= (i+1) %>
        </div>
      </div>
      <div class="row">
        <div class="left">
          黑名单事实类型
        </div>
        <div class="right">
          <%= data.list[i].blackFactsType %>
        </div>
      </div>

      <div class="row">
        <div class="left">
          黑名单事实
        </div>
        <div class="right">
          <%= data.list[i].blackFacts %>
        </div>
      </div>

    </div>

    <% } %>
</body>
<script>
  $(function () {
    var third_query = '<%- JSON.stringify( third_query) %>';
    third_query = JSON.parse(third_query);
    console.log(third_query);

    var data = '<%- JSON.stringify( data) %>';
    data = JSON.parse(data);
    data.list.forEach(function (item, i) {
      var obj = $(
        '<div class="item">' +
        '  <div class="row">' +
        '    <div class="title">结果列表 :' +
        '      ' + (i + 1) +
        '    </div>' +
        '  </div>' +
        '  <div class="row">' +
        '    <div class="left">' +
        '      黑名单事实类型' +
        '    </div>' +
        '    <div class="right">' +
        '      <%= data.list[i].blackFactsType %>' +
        '    </div>' +
        '  </div>' +
        '  <div class="row">' +
        '    <div class="left">' +
        '      黑名单事实' +
        '    </div>' +
        '    <div class="right">' +
        '      ' + item.blackFacts +
        '    </div>' +
        '  </div>' +
        '</div>'
      );
    })

    function getText(type) {
      var result = '';
      switch (type) {
        case 'A02':
          result = '名下公司税务重大违法';
          break;
        case 'B01':
          result = '失联';
          break;
        case 'B02':
          result = '贷款不良（逾期90天以上未还）';
          break;
        case 'B03':
          result = '短时逾期';
          break;
        case 'B04':
          result = '逾期';
          break;
        case 'C01':
          result = '失信被执行人';
          break;
        case 'C02':
          result = '被执行人';
          break;
        case 'C03':
          result = '裁判文书';
          break;
        case 'D01':
          result = '疑似催收风险';
          break;
        case 'D02':
          result = '名下公司存在违规行为（被税务局或者工商局公示）';
          break;
        case 'D03':
          result = '来自信贷高风险区域';
          break;
        case 'D04':
          result = '其他潜在风险';
          break;
        case 'E01':
          result = '7天内多头借贷';
          break;
        case 'E02':
          result = '1月内多头借贷';
          break;
        case 'E03':
          result = '3月内多头借贷';
          break;
        case 'E04':
          result = '疑似多头借贷';
          break;
      }
    }

    $('.time').text(moment(third_query.create_time).format('YYYY-MM-DD HH:mm'));

    // function blackFactsTypeText(type) {
    //   switch (type) {
    //     case '':
    //     break;
    //   }
    // }
  })
</script>

</html>