<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>潮钱网</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_query_create.client.style.css" />
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="../c_wechat/controllers/page_wechat.client.controller.js"></script>
  <script src="../c_wechat/helpers/query.client.helper.js"></script>
</head>

<body>
  <div class="page-header">
    <div class="header-title">
      <div class="icon"><%= type %></div>
      <div class="text"></div>
    </div>
    <div class="header-tip">帮您寻找网贷过程中不规范导致的灰黑度因素</div>
  </div>
  <div class="page-body">
    <div class="weui-cells">
      <div class="weui-cell name-row" style="display: none;">
        <div class="weui-cell__hd">
          <label class="weui-label">姓名</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input name" placeholder="请输入姓名">
        </div>
      </div>
      <div class="weui-cell idcard-row" style="display: none;">
        <div class="weui-cell__hd">
          <label class="weui-label">身份证</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input idcard" placeholder="请输入有效的身份证件号码">
        </div>
      </div>
      <div class="weui-cell phone-row" style="display: none;">
        <div class="weui-cell__hd">
          <label class="weui-label">手机号</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input phone" placeholder="请输入手机号">
        </div>
      </div>
      <div class="weui-cell banknumber-row" style="display: none;">
        <div class="weui-cell__hd">
          <label class="weui-label">银行卡号</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input banknumber" placeholder="请输入银行卡号">
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="agree-row">
      <input type="checkbox" checked="checked">
      <span> 我已阅读并统一</span>
      <a href="/page_wechat/page_image?url=../c_wechat/images/query/用户查询使用协议.jpg&title=用户查询使用协议">《潮钱网用户查询使用协议》</a>
    </div>
    <a class="page-btn">同意协议，开始查询</a>
  </div>

</body>
<script>
  $(function () {
    var type = '<%= type %>';
    var headerIcon = $('.icon');
    var headerText = $('.text');
    var headerTip = $('.header-tip');


    var rowBancknumber = $('.banknumber-row');
    var rowPhone = $('.phone-row');
    var rowIdcard = $('.idcard-row');
    var rowName = $('.name-row');
    var hander = null;

    switch (type) {
      case '黑':
        rowBancknumber.show();
        rowPhone.show();
        rowIdcard.show();
        rowName.show();
        headerIcon.addClass('orange');
        headerText.text('网贷黑灰行为');
        headerTip.text('帮您查出过往申请过程中被认定为黑灰行为的因素');
        hander = ge_ren_hei_ming_dan;
        break;
      case '介':
        rowPhone.show();
        headerText.text('网贷黑中介');
        headerIcon.addClass('blue');
        headerTip.text('是否被网络征信认定为欺诈类产业的中介行为属性');        
        hander = hei_zhong_jie;
        break;
      case '大':
        rowPhone.show();
        rowIdcard.show();
        rowName.show();
        headerText.text('网贷成功率');
        headerIcon.addClass('green');
        headerTip.text('网贷行为中的过往数据变量及被查询和成功率关系');
        hander = mi_guan_da_shu_ju;
        break;
    }
    //href="/page_wechat/page_query_create_result"
    $('.page-btn').click(function () {
      // mi_guan_da_shu_ju();
      // ge_ren_hei_ming_dan();



      if (hander) {
        $.showLoading();
        hander({
          name: rowName.find('input').val(),
          phone: rowPhone.find('input').val(),
          idcard: rowIdcard.find('input').val(),
          banknumber: rowBancknumber.find('input').val(),
        }, function (data) {
          $.hideLoading();
          if (data && !data.err) {
            $.toast("操作成功", function () {
              window.location = '/page_wechat/page_query_create_result';
            });
          }
        });
      }
    });
  })
</script>

</html>