<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/detail.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="detail-header">
    <img src="" class="icon"></img>
    <div class="title">
      快贷 芝麻分贷
    </div>
    <div class="number"></div>
  </div>
  <div class="detail-center">
    <div class="title">
      <div class="left">
        <div class="key"></div>
        <div class="value"></div>
      </div>
      <div class="right">
        <div class="key"></div>
        <div class="value"></div>
      </div>
    </div>
    <div class="content">
      <div class="left">
        <div class="title"></div>
        <div class="text"></div>
      </div>
      <div class="center">
        <div class="title"></div>
        <div class="text"></div>
      </div>
      <div class="right">
        <div class="title"></div>
        <div class="text"></div>
      </div>
    </div>
  </div>
  <div class="detail-body">
    <div class="title">

    </div>
    <div class="list">
      <div class="item">
        <div class="icon"></div>
        <div class="text"></div>
      </div>
    </div>
  </div>
  <div class="detail-condition">
    <div class="title"></div>
    <div class="content"></div>
  </div>
  <div class="detail-footer">
    <div class="footer-btn"></div>
  </div>
</body>

</html>