<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/product_detail.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="product-detail-page">
    <div class="detail-header">
      <img src="<%= product.logo %>" class="photo">

      </img>
      <div class="header-content">
        <div class="title">
          <%= product.name||'--' %>
        </div>
        <div class="content">
          <div class="content">
            <div class="key">
              <%= product.max_limit||'--' %>
            </div>
            <div class="value">最高额度</div>
          </div>
          <div class="border"></div>
          <div class="content">
            <div class="key">
              <%= product.apply_people_count||'--' %>人</div>
            <div class="value">成功借款</div>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-input">
      <div class="input-row">
        <div class="title">金额</div>
        <input type="number" class="value" placeholder="请输入金额">
        <span style="color:#999;">元</span>
        </input>
      </div>
      <div class="input-row">
        <div class="title">期限</div>
        <select class="value">
          <option>3个月</option>
          <option>6个月</option>
          <option>9个月</option>
          <option>一年</option>
        </select>
      </div>
    </div>
    <div class="detail-info">
      <div class="info-item">
        <div class="title">
          <%= product.longest_time||'--' %>
            <span>天</span>
        </div>
        <div class="value">最快放款时间</div>
      </div>
      <div class="info-item">
        <div class="title">398.00
          <span>元</span>
        </div>
        <div class="value">预计每月还款</div>
      </div>
      <div class="info-item">
        <div class="title">0.6
          <span>%</span>
        </div>
        <div class="value">参考月利率</div>
      </div>
    </div>
    <div class="detail-apply">
      <div class="apply-item">
        <div class="title">
          所需材料
        </div>
        <div class="value">
          <div class="dot"></div>身份证</div>
        <div class="value">
          <div class="dot"></div>银行卡</div>
        <div class="value">
          <div class="dot"></div>运营商授权</div>
        <div class="value">
          <div class="dot"></div>芝麻信用</div>
      </div>
      <div class="apply-item">
        <div class="title">
          申请条件
        </div>
        <div class="value">
          <div class="dot"></div>年龄在18-60周岁</div>
        <div class="value">
          <div class="dot"></div>手机号实名制</div>
        <div class="value">
          <div class="dot"></div>放款时绑定银行卡</div>
      </div>
    </div>
  </div>
  <div class="customer-number">
    <div class="dot"></div>客服电话 400-3212-1231</div>
  <div class="detail-footer">
    <a href="<%= product.organization_url %>" class="footer-btn">确认申请</a>
  </div>
</body>

</html>