<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/product_detail.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="detail-header">
    <img src="" class="icon"></img>
    <div class="title">
      快贷 芝麻分贷
    </div>
    <div class="number">1421321人放款成功</div>
  </div>
  <div class="detail-center">
    <div class="center-title">
      <div class="left">
        <span class="key">金额</span>
        <input class="value" value="1000元"></input>
      </div>
      <div class="right">
        <span class="key">期限</span>
        <input class="value" value="6个月"></input>
      </div>
    </div>
    <div class="content">
      <div class="left">
        <div class="title">1391元</div>
        <div class="text">预估每月还款</div>
      </div>
      <div class="center">
        <div class="title">0.6%</div>
        <div class="text">参考月利率</div>
      </div>
      <div class="right">
        <div class="title">24小时</div>
        <div class="text">最快放款时间</div>
      </div>
    </div>
  </div>
  <div class="detail-body">
    <div class="title">
      所需材料
    </div>
    <div class="list">
      <div class="item">
        <div class="icon">icon</div>
        <div class="text">身份证</div>
      </div>
      <div class="item">
        <div class="icon">icon</div>
        <div class="text">银行卡</div>
      </div>
      <div class="item">
        <div class="icon">icon</div>
        <div class="text">运营商权限</div>
      </div>
      <div class="item">
        <div class="icon">icon</div>
        <div class="text">芝麻信用</div>
      </div>
    </div>
  </div>
  <div class="detail-condition">
    <div class="title">申请条件</div>
    <div class="content">1、年龄在16-60岁</div>
    <div class="content">2、手机号实名制</div>
    <div class="content">3、放款时绑定银行卡</div>
    <div class="content">备注：客服电话为400-757-1310</div>
  </div>
  <div class="detail-footer">
    <div class="footer-btn">确认申请</div>
  </div>
</body>

</html>