<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>我要借款</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/question.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="question-header">
    请如实回答以下问题，系统将推荐最适合您的贷款服务！
  </div>
  <div class="question-page">

    <div class="question-list">
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请问您需要资金金额大小</span>
        </div>
        <div class="content">
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option  ">
            A: 500-5000元
          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请问您需要资金金额大小</span>
        </div>
        <div class="content">
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option  ">
            A: 500-5000元
          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请问您需要资金金额大小</span>
        </div>
        <div class="content">
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option  ">
            A: 500-5000元
          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请问您需要资金金额大小</span>
        </div>
        <div class="content">
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option  ">
            A: 500-5000元
          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请问您需要资金金额大小</span>
        </div>
        <div class="content">
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option  ">
            A: 500-5000元
          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请问您需要资金金额大小</span>
        </div>
        <div class="content">
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option  ">
            A: 500-5000元
          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请问您需要资金金额大小</span>
        </div>
        <div class="content">
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option  ">
            A: 500-5000元
          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请问您需要资金金额大小</span>
        </div>
        <div class="content">
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option">
            A: 500-5000元
          </div>
          <div class="option  ">
            A: 500-5000元
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="question-footer">
    <a href="/page_wechat/result" class="footer-btn">下一步</a>
  </div>
</body>

</html>