<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>自助</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/self_local.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/self_local.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-self-local">
    <div class="card-header">
      <a class="header-item " href="/page_wechat/self_home">贷款产品</a>
      <a class="header-item select" href="/page_wechat/self_local">本地信贷</a>
    </div>
    <div class="filter-row">
      <dic class="filter-select">职能筛选</dic>
      <div class="filter-select">10万元以上</div>
      <dic class="filter-select">职能筛选</dic>
    </div>
    <div class="list">
      <a href="/page_wechat/credit_people_detail" class="list-item">
        <div class="photo">
        </div>
        <div class="title">随意贷
          <span>小袋公司</span>
        </div>
        <div class="content">
          我叫叶英，可以叫我印子，性格比较开朗，欢迎来…
        </div>
        <div class="tags">
          <span class="tag-item">信用贷</span>
          <span class="tag-item">社保贷</span>
          <span class="tag-item">工薪贷</span>
        </div>
      </a>
      <a href="/page_wechat/credit_people_detail" class="list-item">
        <div class="photo">
        </div>
        <div class="title">随意贷
          <span>小袋公司</span>
        </div>
        <div class="content">
          我叫叶英，可以叫我印子，性格比较开朗，欢迎来…
        </div>
        <div class="tags">
          <span class="tag-item">信用贷</span>
          <span class="tag-item">社保贷</span>
          <span class="tag-item">工薪贷</span>
        </div>
      </a>
      <a href="/page_wechat/credit_people_detail" class="list-item">
        <div class="photo">
        </div>
        <div class="title">随意贷
          <span>小袋公司</span>
        </div>
        <div class="content">
          我叫叶英，可以叫我印子，性格比较开朗，欢迎来…
        </div>
        <div class="tags">
          <span class="tag-item">信用贷</span>
          <span class="tag-item">社保贷</span>
          <span class="tag-item">工薪贷</span>
        </div>
      </a>
      <a href="/page_wechat/credit_people_detail" class="list-item">
        <div class="photo">
        </div>
        <div class="title">随意贷
          <span>小袋公司</span>
        </div>
        <div class="content">
          我叫叶英，可以叫我印子，性格比较开朗，欢迎来…
        </div>
        <div class="tags">
          <span class="tag-item">信用贷</span>
          <span class="tag-item">社保贷</span>
          <span class="tag-item">工薪贷</span>
        </div>
      </a>
      <a href="/page_wechat/credit_people_detail" class="list-item">
        <div class="photo">
        </div>
        <div class="title">随意贷
          <span>小袋公司</span>
        </div>
        <div class="content">
          我叫叶英，可以叫我印子，性格比较开朗，欢迎来…
        </div>
        <div class="tags">
          <span class="tag-item">信用贷</span>
          <span class="tag-item">社保贷</span>
          <span class="tag-item">工薪贷</span>
        </div>
      </a>
      <a href="/page_wechat/credit_people_detail" class="list-item">
        <div class="photo">
        </div>
        <div class="title">随意贷
          <span>小袋公司</span>
        </div>
        <div class="content">
          我叫叶英，可以叫我印子，性格比较开朗，欢迎来…
        </div>
        <div class="tags">
          <span class="tag-item">信用贷</span>
          <span class="tag-item">社保贷</span>
          <span class="tag-item">工薪贷</span>
        </div>
      </a>
      <a href="/page_wechat/credit_people_detail" class="list-item">
        <div class="photo">
        </div>
        <div class="title">随意贷
          <span>小袋公司</span>
        </div>
        <div class="content">
          我叫叶英，可以叫我印子，性格比较开朗，欢迎来…
        </div>
        <div class="tags">
          <span class="tag-item">信用贷</span>
          <span class="tag-item">社保贷</span>
          <span class="tag-item">工薪贷</span>
        </div>
      </a>
    </div>
  </div>
</body>

</html>