<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>自助</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/self_local.client.style.css" />
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../c_wechat/controllers/page_wechat.client.controller.js"></script>
  <script src="../c_wechat/controllers/self_local.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-self-local">
    <div class="card-header">
      <a class="header-item " href="/page_wechat/self_home">贷款产品</a>
      <a class="header-item" href="/page_wechat/self_jietiao?sort_key=create_time&sort_value=-1">借条商家</a>
      <a class="header-item select" href="/page_wechat/self_local">大额信贷</a>
    </div>
    <div class="filter-row">
      <select class="filter-select">
        <option>距离您最近的信贷经理</option>
      </select>
    </div>
    <div class="list">


    </div>
  </div>
</body>
<script>
  $(function () {
    getUserJsApiTicket(window.location.href, function (data) {
      getLocation(function (result) {
        nearCreditPeopleList([result.longitude, result.latitude]);
      });
    });

    // nearCreditPeopleList([0, 0]);


    function nearCreditPeopleList(location) {
      $.ajax({
        url: '/credit_people/nearCreditPeopleList',
        method: 'post',
        data: { location: location },
        success: function (result) {
          result.forEach(function (item) {
            appendCreditPeople(item);
          });
        }
      });
    }

    function appendCreditPeople(item) {
      var str =
        '   <a href="/page_wechat/credit_people_detail?credit_people_id=' + item.obj._id + '" class="list-item">' +

        '     <div class="item-left"> <img src="' + item.obj.photo + '" class="photo" /> <div class="text">'+ (item.dis || 0).toFixed(1) + '公里' +'</div>   </div>'+
        '     <div class="title">' +
        '       <div class="title-left">' +
        '         ' + item.obj.name +
        '           <span>' +
        '             ' + item.obj.company_type +
        '           </span>' +
        '       </div>' +
        // '       <div class="title-right">' +
        // '         ' 
        // '       </div>' +
        '     </div>' +
        '     <div class="content">' +
        '       ' + item.obj.personal_description +
        '     </div>' +
        '     <div class="tags">';
      for (var j = 0; j < item.obj.tag_list.length; j++) {
        str += '<span class="tag-item">' + item.obj.tag_list[j] + '</span>'
      }

      str += '</div> </a>';
      var obj = $(str);
      $('.list').append(obj);
    }
  })


</script>

</html>