<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>潮钱网</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/self_jietiao.client.style.css" />
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/self_home.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-self-home">
    <div class="card-header">
      <a class="header-item select" href="/page_wechat/self_home?sort_key=create_time&sort_value=-1">网贷产品</a>
      <a class="header-item select" href="/page_wechat/self_jietiao?sort_key=create_time&sort_value=-1">借条商家</a>
      <a class="header-item" href="/page_wechat/self_local">大额借贷</a>
    </div>
    <div class="filter-row">
      <select class="filter-select">
        <option value="str13">芝麻分由低到高排列</option>
      </select>
    </div>
    <div class="list">
      <% for(var i=0; i<jietiaos.length; i++) {%>
        <a href="javascript:void(0)" class="list-item">
          <img class="photo" src="<%= jietiaos[i].logo %>" />
          <div class="title">
            <div class="title-left">
              <%= jietiaos[i].name %>
            </div>
            <div class="title-right">
              <%= jietiaos[i].require %>
            </div>
          </div>
          <div class="content">

            <% for(var j=0; j<jietiaos[i].str1s.length; j++) {%>
              <div class="content-item">
                <div class="value">
                  <%= jietiaos[i].str1s[j] %>
                </div>
              </div>

              <% if(j!=jietiaos[i].str1s.length-1) {%>
                <div class="content-border "></div>
                <% } %>
                  <% } %>


                    <!-- <div class="content-item">
                  <div class="value">最高额度</div>
                </div>
                <div class="content-border "></div>
                <div class="content-item">
                  <div class="value">参考日利率</div>
                </div>
                <div class="content-border "></div>
                <div class="content-item">
                  <div class="value">借款成功</div>
                </div> -->
          </div>
          <div class="bottom">
            <div class="left">
              <span class=" red-border">法人贷</span>
              <span class=" red-border">门店贷</span>
              <span class=" red-border">小微企业贷</span>
            </div>
            <div class="right">
              <div class="apply">点击申请</div>
            </div>
          </div>
        </a>
        <% } %>

    </div>
  </div>
</body>

</html>