<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>潮钱网</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/self_jietiao.client.style.css" />
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/self_home.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-self-home">
    <div class="card-header">
      <a class="header-item" href="/page_wechat/self_home?sort_key=create_time&sort_value=-1">网贷产品</a>
      <a class="header-item select" href="/page_wechat/self_jietiao?sort_key=create_time&sort_value=-1">借条商家</a>
      <a class="header-item" href="/page_wechat/self_local">大额借贷</a>
    </div>
    <div class="filter-row">
      <select class="filter-select">
        <option value="str13">芝麻分由低到高排列</option>
      </select>
    </div>
    <div class="list">

      <a href="javascript:void(0)" class="list-item">
        <img class="photo" src="" />
        <div class="title">
          <div class="title-left">
            sdfa
          </div>
          <div class="title-right">
            <span style="color:#F25167">
              asdf
            </span> 分以上芝麻分
          </div>
        </div>
        <div class="content">
          <div class="content-item">
            <div class="value">
              asdf
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="left">
            <span class=" red-border">
              asf
            </span>
          </div>
          <div class="right">
            <a class="apply" href="">点击申请</a>
          </div>
        </div>
      </a>

    </div>
  </div>
</body>

</html>