<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>确认支付</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/vip_auth_report.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
<!--
  <script src="../c_wechat/controllers/vip_auth_report.client.controller.js"></script>
-->
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-vip-auth-report">
    <div class="header">个人征信资质鉴定及维护建议报告</div>
    <div class="header-row">
      <div class="title">姓名</div>
      <div class="value">
        <%= (vip_report.str1||'--') %>
      </div>
    </div>
    <div class="content">
      <div class="content-title">
        <div class="icon"></div>
        <div class="title">粗略评估结果</div>
      </div>
      <div class="content-body">
        <div class="body-item">
          <div class="value">
            <%= (vip_report.str6||'--') %>
          </div>
          <div class="title">风险指数</div>
        </div>
        <div class="body-item">
          <div class="value">
            <%= (vip_report.str7||'--') %>
          </div>
          <div class="title">多头借贷风险</div>
        </div>
        <div class="body-item">
          <div class="value">
            <%= (vip_report.str8||'--') %>
          </div>
          <div class="title">社交风险</div>
        </div>
        <div class="body-item">
          <div class="value">
            <%= (vip_report.str9||'--') %>
          </div>
          <div class="title">交叉印证</div>
        </div>
        <div class="body-item">
          <div class="value">
            <%= (vip_report.str10||'--') %>
          </div>
          <div class="title">黑名单命中</div>
        </div>
      </div>
      <div class="content-footer">
        <div class="footer-item">
          <div class="dot"></div>
          <div class="text">指导结果：
            <%= (vip_report.str30||'--') %>
          </div>
        </div>
        <div class="footer-item">
          <div class="dot"></div>
          <div class="text">指说说明：0-100，指数越大，风险越高</div>
        </div>
        <div class="footer-item">
          <div class="dot"></div>
          <div class="text">测评状态：全网查询</div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content-title">
        <div class="icon"></div>
        <div class="title">官方报告</div>
      </div>
      <div class="content-text">

        <% for(var i=0; i<vip_report.str29s.length; i++) {%>
          <div class="body-text">
            <%= (vip_report.str29s[i]||'--') %>
          </div>
          <% } %>
      </div>
    </div>
  </div>
</body>
</html>