<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>资料录入</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/vip_auth_1.client.style.css" />
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../c_wechat/controllers/page_wechat.client.controller.js"></script>
  <script src="../c_wechat/controllers/vip_auth_2.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-vip-auth">
    <div class="auth-progress">
      <div class="progress-border"></div>
      <div class="progress-item">
        <img src="../c_wechat/images/vip/ensure_pay.png" class="icon select"></img>
        <div class="text">信息验证</div>
      </div>
      <div class="progress-item">
        <img src="../c_wechat/images/vip/has_input.png" class="icon"></img>
        <div class="text">资料录入</div>
      </div>
      <div class="progress-item">
        <img src="../c_wechat/images/vip/un_verified.png" class="icon"></img>
        <div class="text">授信结果</div>
      </div>
    </div>
    <div class="input-list">
      <a href="/shuju_mofang_page_wy?device=wechat" class="list-item">
        <div class="title">工资卡认证</div>
        <div class="content">
          <%= ((user.wy_info&&user.wy_info.task_id)?'已授权':'授权查询') %>
        </div>
        <img src="../c_wechat/images/arrow_right.png" class="arrow"></img>
      </a>
      <a href="/shuju_mofang_page_yys?device=wechat" class="list-item">
        <div class="title">运营商认证</div>
        <div class="content">
          <%= ((user.yys_info&&user.yys_info.task_id)?'已授权':'授权查询') %>
        </div>
        <img src="../c_wechat/images/arrow_right.png" class="arrow"></img>
      </a>
      <a href="/shuju_mofang_page_taobao?device=wechat" class="list-item">
        <div class="title">淘宝认证</div>
        <div class="content">
          <%= ((user.taobao_info&&user.taobao_info.task_id)?'已授权':'授权查询') %>
        </div>
        <img src="../c_wechat/images/arrow_right.png" class="arrow"></img>
      </a>
      <a href="/shuju_mofang_page_jingdong?device=wechat" class="list-item">
        <div class="title">京东认证</div>
        <div class="content">
          <%= ((user.jingdong_info&&user.jingdong_info.task_id)?'已授权':'授权查询') %>
        </div>
        <img src="../c_wechat/images/arrow_right.png" class="arrow"></img>
      </a>
      <div class="list-item id_front">
        <div class="title">请上传身份证正面照片</div>
        <img src="" style="width:70px;height: 70px;margin:10px;">
        </img>
      </div>
      <div class="list-item id_back">
        <div class="title">请上传身份证背面照片</div>
        <img src="" style="width:70px;height: 70px;margin:10px; ">
        </img>
      </div>
      <div class="list-item id_man">
        <div class="title">请上传手持身份证照片</div>
        <img src="" style="width:70px;height: 70px; margin:10px;">
        </img>
      </div>
    </div>
    <div class="descript-list">
      <div class="list-item">
        <div class="icon"></div>
        <div class="text">依据您的资质状况决定填写资料的智能匹配;</div>
      </div>
      <div class="list-item">
        <div class="icon"></div>
        <div class="text">首次贷款必须要填写人行征信信息（80天循环查询一次）;</div>
      </div>
      <div class="list-item">
        <div class="icon"></div>
        <div class="text">通讯运营商填写使用12个月以上常用号码（小号新号会增加拒绝率）;</div>
      </div>
      <div class="list-item">
        <div class="icon"></div>
        <div class="text">如没填写完整相关信息，请不要提交资料，
          <a style="color:#F25167" href="https://mp.weixin.qq.com/s/iTDPPK8vKWetGSv4d6ssVw">如何获得人行身份验证码;</a>
        </div>
      </div>
      <div class="list-item">
        <div class="icon"></div>
        <div class="text">如有疑问请联系微信客服：jingbeikefu;</div>
      </div>
    </div>
    <div class="ensure-content">
    </div>
    <div class="ensure">
      <div class="submit-btn">提交材料</div>
    </div>
    <div class="footer">
      <div class="icon"></div>
      <div class="footer-content">以上资料经技术加密处理，可联系客服修改，涉及隐私信息一律隐蔽处理，资料关系个人福利及资质，请认证填写并提交</div>
    </div>
  </div>
</body>
<script>

  $(function () {
    getUserJsApiTicket(window.location.href, function () { });

    var id_front, id_back, id_man;
    var wechat_server_ids = [];

    $('.id_front').click(function () {
      var that = this;
      takeCamera(function (localIds) {
        if (localIds.length === 0) {
          return;
        }
        uploadImage(localIds[0], function (res) {
          id_front = res.serverId;
          wechat_server_ids.push(res.serverId);
          $('.id_front').find('img').attr('src', localIds[0]);
        })
      });
    });
    $('.id_back').click(function () {
      var that = this;
      takeCamera(function (localIds) {
        if (localIds.length === 0) {
          return;
        }
        uploadImage(localIds[0], function (res) {
          id_back = res.serverId;
          wechat_server_ids.push(res.serverId);
          $('.id_back').find('img').attr('src', localIds[0]);
        })
      });
    });
    $('.id_man').click(function () {
      var that = this;
      takeCamera(function (localIds) {
        if (localIds.length === 0) {
          return;
        }
        uploadImage(localIds[0], function (res) {
          id_man = res.serverId;
          wechat_server_ids.push(res.serverId);
          $('.id_man').find('img').attr('src', localIds[0]);
        })
      });
    });


    $('.submit-btn').click(function () {
      if (!id_front) {
        return alert('请上传身份证正面照片');
      }
      if (!id_back) {
        return alert('请上传身份证背面照片');
      }
      if (!id_man) {
        return alert('请上传手持身份证照片');
      }

      $.ajax({
        method: 'post',
        url: '/user/updateUserAuth2',
        data: {
          is_wechat: true,
          id_front: id_front,
          id_back: id_back,
          id_man: id_man
        },
        success: function (data) {
          console.log(data);
          if (!data.err) {
            window.location = window.location;
          }
        }
      });
    });
  });

  // vincent added for the VIP waiting time , save the current date and time in cookie


</script>

</html>