<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>审核授信</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />


  <link rel="stylesheet" href="../c_wechat/css/vip_auth_1.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>

  <script src="../c_wechat/controllers/vip_auth_report.client.controller.js"></script>

  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-vip-auth">
    <div class="auth-progress">
      <div class="progress-border"></div>
      <div class="progress-item">
        <img src="../c_wechat/images/vip/ensure_pay.png" class="icon select"></img>
        <div class="text">确认支付</div>
      </div>
      <div class="progress-item">
        <img src="../c_wechat/images/vip/has_input.png" class="icon"></img>
        <div class="text">资料录入</div>
      </div>
      <div class="progress-item">
        <img src="../c_wechat/images/vip/un_verified.png" class="icon"></img>
        <div class="text">审核授信</div>
      </div>
    </div>
    <div class="auth-watting">
      <div id="vip_waiting_time" class="time">
        23:59:60
      </div>
      <div class="title">Vip资质受理中...</div>
      <div class="description">正常不超过24小时反馈结果，具体依据您的排队情况及VIP用户的多寡，风控工程师审核结果将第一时间发短信到您的手机上作为通知，受理及工作时间：9:00-22:00 ，放款时间每天上午11点与下午6点两个批次
      </div>
    </div>
  </div>
</body>

<script>
  $(function () {
    //设置截止时间  
    var endDate = new Date('<%= user.vip_payed_time  %>');
    endDate.setDate(endDate.getDate() + 1);
    var end = endDate.getTime();
    function countTime() {
      //获取当前时间  
      var date = new Date();
      var now = date.getTime();


      //时间差  
      var leftTime = end - now;
      //定义变量 d,h,m,s保存倒计时的时间  
      var d, h, m, s;
      if (leftTime >= 0) {
        d = Math.floor(leftTime / 1000 / 60 / 60 / 24);
        h = Math.floor(leftTime / 1000 / 60 / 60 % 24);
        m = Math.floor(leftTime / 1000 / 60 % 60);
        s = Math.floor(leftTime / 1000 % 60);
        //将倒计时赋值到div中  
        console.log(d, h, m, s);
        $('#vip_waiting_time').text(h + ':' + m + ':' + s);
        //递归每秒调用countTime方法，显示动态时间效果  
        setTimeout(countTime, 1000);
      }
    }
    countTime();

  });


</script>

</html>