<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>VIP授权须知</title>
  <!-- head 中 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../c_wechat/css/vip_notice.client.style.css" />
  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script src="../c_wechat/controllers/page_native.client.controller.js"></script>
</head>

<body>
  <div class="page-vip-notice">
    <img src="../c_wechat/images/vip/notice_card.jpg" style="width:100%" />
    <!-- <div class="content">
      备注：
    </div>
    <div class="content">
      <div>
        ①申请人有伪造资料，黑产成员，骗贷，涉嫌试探风控政策等行为将被拒绝授信，并直接退款。（请在查询板块内先自行查询后再决定申请）。
      </div>
      <div>
        ②申请人在借条类平台有恶意欠款及逾期历史的将拒绝授信并直接退款。
      </div>
      <div>
        以上VIP通道下款资金方均为平台合作匹配资金方，包括但不限于：消费金融，小额贷款机构，个人投资者资金，第三方金融机构合作渠道等第三方。
      </div>
    </div> -->
    <div class="agree-row">
      <input onclick="return false;" type="checkbox" checked="checked">
      <span>我已阅读并同意</span>
      <a href="javascript:; " onclick="goToWindow('/page_wechat/page_image?url=../c_wechat/images/vip/返现退款与还款协议用户须知.jpg&title=返现退款与还款协议用户须知','《返现退款与还款须知》')">《返现退款与还款须知》</a>
    </div>
    <div class="agree-row">
      <input onclick="return false;" type="checkbox" checked="checked">
      <span>我已阅读并同意</span>
      <a href="javascript:; " onclick="goToWindow('/page_wechat/page_image?url=../c_wechat/images/vip/VIP通道协议.jpg&title=VIP通道协议','《潮钱网VIP通道协议》')">《潮钱网VIP通道协议》</a>
    </div>
    <div class="agree-row">
      <input type="checkbox" checked="checked">
      <span>我同意领取免费赠送保险服务，本人同意接受执牌保险公司后续的联系确认保险产品事宜，查看</span>
      <a href="javascript:;" onclick="goToWindow('/page_wechat/page_image?url=../c_wechat/images/vip/VIP通道协议.jpg&title=VIP通道协议','《投保须知》')">《投保须知》（自由选择）</a>
    </div>


  </div>
  <div class="footer">
    <a href="javascript:;" class="notice-btn">
      同意协议，开始申请
    </a>
</body>
<script>
  $(function () {
    $('.notice-btn').click(function () {
      if (typeof (api) !== 'undefined') {
        goToWindow('/page_wechat/vip_auth_info?device=native', 'VIP通道')
      }
      else {
        goToWindow('/page_wechat/vip_auth_info', 'VIP通道')
      }
    });
  })
</script>

</html>