<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>审核授信</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />


  <link rel="stylesheet" href="../c_wechat/css/vip_auth_1.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>

  <script src="../c_wechat/controllers/vip_auth_report.client.controller.js"></script>

  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-vip-auth">
    <div class="auth-progress">
      <div class="progress-border"></div>
      <div class="progress-item">
        <img src="../c_wechat/images/vip/ensure_pay.png" class="icon select"></img>
        <div class="text">确认支付</div>
      </div>
      <div class="progress-item">
        <img src="../c_wechat/images/vip/has_input.png" class="icon"></img>
        <div class="text">资料录入</div>
      </div>
      <div class="progress-item">
        <img src="../c_wechat/images/vip/un_verified.png" class="icon"></img>
        <div class="text">报告结果</div>
      </div>
    </div>
    <div class="auth-watting">
      <div id="vip_waiting_time" class="time">
        35:59:60
      </div>
      <div class="title">Vip资质受理中...</div>
      <div class="description">正常不超过24小时反馈结果，具体依据您的排队情况及VIP用户的多寡，风控工程师审核结果将第一时间发短信到您的手机上作为通知，受理及工作时间：9:00-22:00 ，放款时间每天上午11点与下午6点两个批次
      </div>
    </div>
  </div>
</body>

</html>